{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="archive -404">
    <div class="notFoundImages">
      <img class="illustration middle" src="/blog/wp-content/themes/orpheus/static/images/illustration_heroes.png"/>
      <img class="illustration right" src="/blog/wp-content/themes/orpheus/static/images/illustration_lighthouse.png"/>
    </div>
    <div class="notFoundText">
      <div class="notFoundTextInner">
        <h1>
          {{expression_of_woe}}, hero!
        </h1>
        <h2 class="subtitle">
          You have lost your way.
        </h2>
        <hr></hr>
        <p>
          Invoke a <a href="mailto:IIP@brown.edu">website muse</a> to steer you back on course or make your own odyssey
          <a href="/">back to the homepage</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
