{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
	{% include 'partial/header.twig' with { header_dark: false } %}
{% endblock %}

{% block content %}
  <div class="archive archiveLayout">
    <main class="archiveContent">
			<h1 class="pt-2">{{title}}</h1>
			{% if "story" in url_helper.get_current_url %}
				<p class="mt-2 max-w-prose">
					{{stories_page.content}}
				</p>
			{% endif %}
			<div class="posts -verticalList ">
				{% for post in posts %}
					{# {% if loop.first %}
			      <a href="{{post.link}}" class="categoryHero">
			  			<div class="categoryHeroBackground" style="background-image: url(
								{% if post.thumbnail and post.thumbnail.src %}
									{{post.thumbnail}}
								{% else %}
									'/blog/wp-content/themes/orpheus/static/images/example_background_{{random(1, 29)}}.jpg)'
								{% endif %}
								" >
							</div>
							<div class="categoryHeroGradient"></div>
							<div class="categoryHeroContent">
								<h2 class="h2">
									{% if condensed %}
										{{post.title| excerpt(9)}}
									{% else %}
										{{post.title| excerpt(12)}}
									{% endif %}
								</h2>
								{% include 'partial/post-meta-teaser.twig'%}
							</div>
			      </a>
					{% else %} #}
						{% include "partial/tease-full.twig" with { condensed: true, with_post_meta: (post.type == "event")} %}
					{# {% endif %} #}
				{% endfor %}
			</div>

    	{% include 'partial/pagination.twig' %}
    </main>

		<div class="archiveSidebar">
	    {% include 'partial/sidebar.twig' %}
		</div>

  </div>
{% endblock %}
