{% extends "base.twig" %}

{% block content %}
<div class="archive">

	{% include "partial/cover.twig" with { is_home: true, cover_caption: homepage.cover_caption } %}

	{% include 'partial/categories-menu.twig' %}

	{% include 'partial/list-horizontal.twig' %}

	{% include 'partial/list-vertical.twig' %}

	{% include 'partial/volumes-menu.twig' %}

	{% include 'partial/list-horizontal.twig' with { condensed: true, posts: posts_2 } %}

</div>
{% endblock %}
