{% extends "base.twig" %}

{% block content %}
  {% include "partial/iip-cover.twig" %}

  {% include "partial/search-inscriptions.twig" %}
  {% include "partial/featured-story.twig" %}
  {% include "partial/discover-archive.twig" %}
  {% include "partial/latest-updates.twig" %}
  {% include "partial/on-the-web.twig" %}


{% endblock %}
