{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page">
    <article class="postType-{{post.post_type}} post -article -blank" id="post-{{post.ID}}">
      <section class="articleContent -articleContentWithSidebar">

        {% if post.meta.attachments %}
          <div id="PostView"></div>
        {% endif %}

        <div class="postHead">
          <h1 class="articleH1">{{post.title}}</h1>

          {% if post.subtitle %}
            <h3>{{post.subtitle}}</h3>
          {% endif %}

          {% if subnav %}
            {% include 'partial/subnav.twig' %}
          {% endif %}
        </div>
        <div class="articleBody postSection postContent">
          {{post.content}}
        </div>
      </section>
    </article>
    <br>
    <br>
    <br>

    <script>
      window.__iip__ = window.__iip__ || {};
      window.__iip__.MediaFiles = [
        {% for attachment in attachments %}
          {
            fileURI: "{{attachment.url}}",
            caption: "{{attachment.fields.caption}}"
          },
        {% endfor %}
      ];
    </script>

  </div>
  <!-- /content-wrapper -->
{% endblock %}
