{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : true
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page">
    {% include "partial/cover.twig" with {
      title : post.title,
      subtitle: post.subtitle,
      with_post_meta: false,
      image: post.thumbnail.src
    } %}

    <article class="post postType-{{post.post_type}} -page -informational" id="post-{{post.ID}}">
      <section id="main" class="articleContent contentMain">
        {{post.content}}
        <br>
        <hr/>

        {% include 'partial/cats-tags.twig' %}

        {% if function('comments_open') %}
          <div id="comments" class="comments">
            {{ function('comments_template') }}
          </div>
        {% endif %}
      </section>

    </article>
    <script>
      window.__iip__ = window.__iip__ || {};
      window.__iip__.MediaFiles = [
        {% for attachment in attachments %}
          {
            fileURI: "{{attachment.url}}",
            caption: "{{attachment.fields.caption}}"
          },
        {% endfor %}
      ];
    </script>

  </div>
  <!-- /content-wrapper -->
{% endblock %}
