{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : true
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page">
    {% include "partial/cover.twig" with {
      title : post.title,
      subtitle: post.subtitle,
      with_post_meta: true,
      image: post.thumbnail.src
    } %}

    <article class="post postType-{{post.post_type}} -blog -withSidebar" id="post-{{post.ID}}">
      <section id="main" class="articleContent contentMain">

        {{post.content}}

        <br>

        {% if post.location_display_text %}
          <div class="locationDisplayText">
            {{post.location_display_text|wpautop}}
          </div>
        {% endif %}
        {% if post.location %}
          {% include 'partial/map.twig' %}
        {% endif %}

        <br>
        <hr/>
        <br>
        {% if post.type == "story" %}
          <p>
            <h3>
              Cite This Story
            </h3>

            IIP is committed to the idea that the public good is best served by keeping our data free for use and reuse. You can cite and use this story under the terms of the Creative Commons Attribution-NonCommercial 4.0 International License.
          </p>
        {% endif %}
        <br>

        {% include 'partial/cats-tags.twig' %}

      </section>
      {% if post.include_marginalia %}
        <div id="Annotations">
        </div>
      {% else %}
        {% include 'partial/sidebar.twig' %}
      {% endif %}

    </article>

    {% include 'partial/related-posts.twig' %}

    <script>
      window.__iip__ = window.__iip__ || {};
      window.__iip__.MediaFiles = [
        {% for attachment in attachments %}
          {
            fileURI: "{{attachment.url}}",
            caption: "{{attachment.fields.caption}}"
          },
        {% endfor %}
      ];
      window.__iip__.Annotations = {{annotations|json_encode()}};

      window.__iip__.userCanAnnotate = {% if user_can_annotate %}{{user_can_annotate}}{% else %}false{% endif %};
    </script>

  </div>
  <!-- /content-wrapper -->
  <!-- mfunc wpb_set_post_views($post_id); --><!-- /mfunc -->
{% endblock %}
