{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="content-wrapper page">
    <article class="postType-{{post.post_type}} post -article" id="post-{{post.ID}}">
      <section class="articleContent -articleContentWithSidebar">

        {% if post.meta.attachments %}
          <div id="PostView"></div>
        {% endif %}

        <div class="postHead">
          <h1 class="articleH1">{{post.title}}</h1>
          {% if post.subtitle %}
            <h3>{{post.subtitle}}</h3>
          {% endif %}

          {% if post.hide_byline != True %}
            <div class="articleByline">
              {% if post.author.avatar %}
                <div class="articleBylineChip" style="background-image:url('{{post.author.avatar}}')"></div>
              {% else %}
                <div class="articleBylineChip"></div>
              {% endif %}
              <span>
        	      {% for author in post.terms( {query:{taxonomy:'author', orderby:'name', order: 'ASC'}} ) %}
        	        <a href="/authors/{{author.slug}}">
        	          {{author.name}}
        	        </a>
        	      {% endfor %}
                {% if post.author_first_name %}
                  {{post.author_first_name}}
                  {{post.author_last_name}}
                {% else %}
                  {{post.author}}
                {% endif %}
              </span>
            </div>
          {% endif %}

          {% include 'partial/post-head-links.twig' %}
        </div>
        <div class="articleBody postSection postContent">
          {% if post.citation %}
            <div class="postContentInner ">
              <div class="postCitation">
                <p>
                  <label>Citation:</label>
                  &nbsp;
                  {{post.citation}}
                </p>
              </div>
              <br/>
            </div>
          {% endif %}
          <hr class="postContentDivider"></hr>
          <div class="postContentInner -withSidebar">

            {% include 'partial/sidebar.twig' %}

            <div class="contentMain">
              {{post.content}}
              <br>
              <hr/>
              <br>
              {% include 'partial/cats-tags.twig' %}
            </div>
          </div>
        </div>
      </section>
    </article>

    <script>
      window.__iip__ = window.__iip__ || {};
      window.__iip__.MediaFiles = [
        {% for attachment in attachments %}
          {
            fileURI: "{{attachment.url}}",
            caption: "{{attachment.fields.caption}}"
          },
        {% endfor %}
      ];
    </script>

  </div>
  <!-- /content-wrapper -->
  <!-- mfunc wpb_set_post_views($post_id); --><!-- /mfunc -->
{% endblock %}
