/*
 * Custom styles for the CHS Gutenberg editor
 */
h1, h2, h3, h4, h5, h6, .editor-post-title textarea {
	font-family: "Silk Serif", "Times New Roman", serif;
}

.wp-block p {
  font-family: "Staff Light", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  margin: 24px auto;
  text-align: left;
  font-size: 19px;
  font-weight: 100;
  line-height: 1.7em;
}
