/* General */
#ctf{
    position: relative;
    text-align: left;
}
#ctf.ctf-fixed-height{
    overflow-y: auto;
    -ms-overflow-y: auto;
}
/* Override for Twenty Seventeen */
#ctf a {
    box-shadow: none;
}
#ctf .ctf-tweet-items {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#ctf .ctf-item{
    position: relative;
    padding: 15px 5px;
    border-top: 1px solid #ddd;
    border-top: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Transition items in */
#ctf .ctf-item.ctf-transition{
    opacity: 0;
}
#ctf .ctf-item:first-child{
    border-top: none;
}
#ctf .ctf_remaining {
    display: none;
}
#ctf .ctf_more{
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
}
#ctf .ctf_more:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
}

/* Header */
#ctf .ctf-header{
    overflow: hidden;
    margin: 0;
    padding: 5px 5px 15px 5px;
    line-height: 1.2;
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#ctf .ctf-header a{
    float: left;
    display: block;
    min-width: 100%;
    color: inherit;
}
/* Header avatar */
#ctf .ctf-header-img{
    float: left;
    position: relative;
    width: 48px;
    margin: 0 0 0 -100% !important;
    overflow: hidden;

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
#ctf .ctf-header-img img{
    display: block;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
#ctf .ctf-author-avatar {
    clear: both;
    margin: 3px 6px 0 -53px;
}
#ctf .ctf-item .ctf-author-name {
    margin-left: 0;
}
#ctf .ctf-author-box {
    padding-left: 53px;
}
/* Header avatar hover */
#ctf .ctf-header-img-hover,
#ctf .ctf-header-generic-icon{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background: #1b95e0;
    background: rgba(27,149,224,0.85);

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
#ctf .ctf-header-img-hover .fa,
#ctf .ctf-header-generic-icon .fa,
#ctf .ctf-header-img-hover svg,
#ctf .ctf-header-generic-icon svg{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -8px;
    font-size: 20px;
}
#ctf .ctf-header-img-hover svg,
#ctf .ctf-header-generic-icon svg {
    margin-top: -10px;
    margin-left: -10px;
}
/* Header text */
#ctf .ctf-header-text{
    float: left;
    width: 100%;
    padding-top: 5px;
}
#ctf .ctf-no-bio .ctf-header-text{
    padding-top: 13px;
}
#ctf .ctf-header a{
    text-decoration: none;
}
#ctf .ctf-header-text .ctf-header-user,
#ctf .ctf-header-text p{
    float: left;
    clear: both;
    width: auto;
    margin: 0 0 0 60px !important;
    padding: 0 !important;
    text-align: left;
}
#ctf .ctf-header-name{
    font-weight: bold;
    margin-right: 6px;
}
#ctf .ctf-header-text .ctf-header-bio{
    padding: 0 !important;
    word-break: break-word;
}
#ctf .ctf-header-text .ctf-verified{
    margin-right: 5px;
}
/* Follow */
#ctf .ctf-header .ctf-header-follow{
    display: inline-block;
    padding: 3px 6px;
    margin: 0 6px 0 2px;
    position: relative;
    top: -2px;
    background: #1b95e0;
    color: #fff;
    font-size: 11px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-transition: background 0.6s ease-in-out;
    -webkit-transition: background 0.6s ease-in-out;
    -o-transition: background 0.6s ease-in-out;
    transition: background 0.6s ease-in-out;
}
#ctf .ctf-header .ctf-header-follow .fa,
#ctf .ctf-header .ctf-header-follow svg{
    margin-right: 3px;
    font-size: 12px;
}
#ctf .ctf-header a:hover .ctf-header-follow{
    background: #0c7abf;

    -moz-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
/* Generic header version */
#ctf .ctf-header-type-generic .ctf-header-img{
    color: #fff;
    width: 48px;
    height: 48px;
    position: relative;
}
#ctf .ctf-header-type-generic .ctf-header-link:hover .ctf-header-generic-icon{
    background: #0c7abf;
}
#ctf .ctf-header-type-generic .ctf-header-no-bio{
    padding-top: 9px !important;
    font-size: 16px;
    font-weight: bold;
}
#ctf .ctf-header-type-generic .ctf-header-generic-icon{
    display: block;
    color: #fff;
    background: #1b95e0;

    -moz-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
#ctf .ctf-header-type-generic:hover .ctf-header-generic-icon{
    display: block;
    opacity: 1;
}
#ctf .ctf-header .ctf-header-user{
    font-size: 16px;
    line-height: 1.3;
    -ms-word-wrap: break-word;
    word-break: break-word;
}
#ctf .ctf-header p,
#ctf .ctf-header .ctf-header-screenname{
    font-size: 13px;
    line-height: 1.3;
}
/* No bio */
#ctf .ctf-header-text.ctf-no-info .ctf-header-user{
    padding-top: 9px !important;
}
#ctf .ctf-header-text.ctf-no-bio .ctf-header-counts{
    clear: both;
}
/* Header followers */
#ctf .ctf-header-text .ctf-header-counts{
    display: inline-block;
    /*padding-left: 7px;*/
    font-size: 14px;
}
#ctf .ctf-header-counts span{
    padding-right: 10px;
}
#ctf .ctf-header-counts .fa,
#ctf .ctf-header-counts svg{
    padding-right: 3px;
}

/* Context */
#ctf .ctf-context {
    width: 100%;
    padding-left: 36px;
    margin-bottom: 2px;
}
#ctf .ctf-with-logo .ctf-context {
    padding-right: 30px;
}
#ctf .ctf-retweet-icon{
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    margin: 0 5px 0 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#ctf.ctf-super-narrow .ctf-retweet-icon{
    margin: 0 5px 0 0;
}
#ctf .ctf-reply-icon{
    display: inline-block;
    font-size: inherit;
    padding: 1px 3px 3px 3px;
    line-height: 1;
    margin: 0 3px 0 0;
}

/* Author */
#ctf .ctf-author-box,
#ctf_lightbox .ctf-author-box{
    padding-left: 56px;
}
#ctf .ctf-author-avatar,
#ctf_lightbox .ctf-author-avatar{
    width: 48px;
    height: 48px;
    margin: 3px 6px 0 -56px;
    float: left;
    overflow: hidden;
    border: none;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#ctf .ctf-author-avatar img,
#ctf_lightbox .ctf-author-avatar img{
    margin: 0 !important;
    padding: 0;
}
#ctf .ctf-author-name,
#ctf .ctf-author-screenname,
#ctf .ctf-verified,
#ctf .ctf-tweet-meta,

#ctf_lightbox .ctf-author-name,
#ctf_lightbox .ctf-author-screenname,
#ctf_lightbox .ctf-verified,
#ctf_lightbox .ctf-tweet-meta{
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}
#ctf .ctf-hide-author .ctf-tweet-meta {
    margin-left: 0;
}
#ctf .ctf-author-box,
#ctf_lightbox .ctf-author-box{
    padding-left: 56px;
    width: 110%;
}
#ctf_lightbox .ctf-author-box.ctf-lb-hide-avatar,
#ctf_lightbox .ctf-author-box.ctf-lb-hide-avatar .ctf-author-name{
    margin-left: 0;
    padding-left: 0;
}
#ctf_lightbox .ctf-author-box.ctf-lb-hide-avatar .ctf-author-avatar {
    display: none;
}
#ctf_lightbox .ctf-caption-text.ctf-lb-hide-avatar {
    margin-left: 0;
    width: 110%;
}
#ctf .ctf-screename-sep,
#ctf_lightbox .ctf-screename-sep{
    margin: 0 2px;
    display: inline-block;
}
#ctf .ctf-author-name,
#ctf_lightbox .ctf-author-name{
    font-weight: bold !important;
    margin-top: 4px;
}
#ctf .ctf-author-box-link,
#ctf_lightbox .ctf-author-box-link{
    color: black;
    text-decoration: none;
    display: inline;
    line-height: 1.5 !important;
}
#ctf .ctf-verified,
#ctf .ctf-quoted-verified,
#ctf_lightbox .ctf-verified,
#ctf_lightbox .ctf-quoted-verified {
    color: #77c7f7;
    margin-left: 0;
}
#ctf .ctf-quoted-verified,
#ctf_lightbox .ctf-quoted-verified {
    margin-right: 4px;
}
#ctf .ctf-tweet-meta,
#ctf_lightbox .ctf-tweet-meta{
    display: inline-block;
}
#ctf .ctf-replied-to-text a {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}
#ctf p.ctf-tweet-text{
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1.4;
}
#ctf .ctf-tweet-content,
#ctf .ctf-tweet-actions{
    margin-left: 56px;
    margin-top: 3px;
    max-width: 100%;
}
#ctf .ctf-corner-logo {
    position: absolute;
    top: 9px;
    right: 10px;
    color: #1b95e0;
    font-size: 24px;
}
#ctf.ctf-narrow .ctf-corner-logo {
    font-size: 20px;
}
/* No avatar */
#ctf .ctf-hide-avatar .ctf-context,
#ctf .ctf-hide-avatar .ctf-tweet-content,
#ctf .ctf-hide-avatar .ctf-tweet-actions,
#ctf .ctf-hide-avatar .ctf-quoted-tweet,
#ctf .ctf-hide-avatar .ctf-author-box,
#ctf.ctf-narrow .ctf-hide-avatar .ctf-context,
#ctf.ctf-narrow .ctf-hide-avatar .ctf-tweet-content,
#ctf.ctf-narrow .ctf-hide-avatar .ctf-tweet-actions,
#ctf.ctf-narrow .ctf-hide-avatar .ctf-quoted-tweet,
#ctf.ctf-narrow .ctf-hide-avatar .ctf-author-box,
#ctf.ctf-super-narrow .ctf-hide-avatar .ctf-context,
#ctf.ctf-super-narrow .ctf-hide-avatar .ctf-tweet-content,
#ctf.ctf-super-narrow .ctf-hide-avatar .ctf-tweet-actions,
#ctf.ctf-super-narrow .ctf-hide-avatar .ctf-quoted-tweet,
#ctf.ctf-super-narrow .ctf-hide-avatar .ctf-author-box{
    margin-left: 0;
}
#ctf .ctf-hide-avatar .ctf-context,
#ctf .ctf-hide-avatar .ctf-author-box{
    padding-left: 0;
}
#ctf .ctf-hide-avatar .ctf-author-name {
    margin-left: 0;
}

/*Quoted tweets*/
#ctf .ctf-quoted-tweet,
#ctf .ctf-twitter-card{
    display: block;
    /*float: left;*/
    clear: both;
    margin: 7px 0 5px 58px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
#ctf .ctf-quoted-tweet:hover,
#ctf .ctf-quoted-tweet:focus,
#ctf .ctf-twitter-card:hover,
#ctf .ctf-twitter-card:focus{
    background: #eee;
    background: rgba(0,0,0,0.05);
    border: 1px solid #ddd;
    border: 1px solid rgba(0,0,0,0.1);

    -moz-transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
#ctf .ctf-quoted-author-name{
    font-weight: bold;
    margin-right: 4px;
    display: inline-block;
}
#ctf .ctf-quoted-tweet p{
    margin: 2px 0;
    text-align: left;
}
#ctf .ctf-quoted-tweet .ctf-tc-image{
    display: none !important;
}
#ctf .ctf-quoted-tweet .ctf-tc-image:first-child{
    display: block !important;
}

/* Twitter cards */
#ctf .ctf-twitter-card,
#ctf .ctf-quoted-tweet{
    overflow: hidden;
    padding: 0;
    margin: 10px 0 5px 0;
}
#ctf .ctf-tc-image{
    /*display: none;*/
    float: left;
    overflow: hidden;
    /*width: 15%;*/
    width: 20%;
    height: 100px;
}
#ctf .ctf-quoted-tweet img,
#ctf .ctf-twitter-card img{
    float: left;
    /*width: 100%;*/
    height: auto;
    max-width: none;

    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
#ctf .ctf-quoted-tweet .ctf-tc-summary-info,
#ctf .ctf-twitter-card .ctf-tc-summary-info{
    float: left;
    /*width: 81%;*/
    width: 76%;
    padding: 8px 2%;
}
#ctf .ctf-quoted-tweet p,
#ctf .ctf-twitter-card p{
    padding: 0 0 3px 0;
    margin: 0;
    line-height: 1.4;
    text-align: left;
}
#ctf .ctf-twitter-card .ctf-tc-heading{
    font-weight: bold;
    padding-top: 3px;
}
#ctf .ctf-twitter-card .ctf-tc-url{
    opacity: 0.6;
}

/* Actions */
#ctf .ctf-tweet-actions a{
    padding: 2px 10px 2px 5px;
    float: left;
}
#ctf .ctf-tweet-actions a.ctf-reply,
#ctf .ctf-tweet-actions a.ctf-retweet,
#ctf .ctf-tweet-actions a.ctf-like{
    color: #bbb;
    color: rgba(0,0,0,0.30);
    text-decoration: none;
    border: none;
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
#ctf .ctf-tweet-actions .ctf-reply{
    margin-left: -5px;
}
#ctf .ctf-tweet-actions a:hover,
#ctf .ctf-tweet-actions a:focus{
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
#ctf .ctf-tweet-actions .ctf-reply:hover,
#ctf .ctf-tweet-actions .ctf-reply:focus{
    color: #E34F0E !important;
}
#ctf .ctf-tweet-actions .ctf-retweet:hover,
#ctf .ctf-tweet-actions .ctf-retweet:focus{
    color: #19cf86 !important;
}
#ctf .ctf-tweet-actions .ctf-like:hover,
#ctf .ctf-tweet-actions .ctf-like:focus{
    color: #e81c4f !important;
}
#ctf .ctf-action-count {
    float: right;
    padding-left: 3px;
    font-size: .9em;
    margin-top: .25em;
    line-height: 1.2em;
}
#ctf .ctf-twitterlink {
    margin-top: .3em;
    line-height: 1.2em;
    font-size: .8em;
}

/* Load more */
#ctf #ctf-more{
    display: block;
    border: none;
    background: #eee;
    background: rgba(0,0,0,0.05);
    width: 100%;
    min-height: 30px;
    padding: 5px 0;
    margin: 0;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
#ctf #ctf-more:hover{
    background: #ddd;
    background: rgba(0,0,0,0.1);
    -moz-transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
#ctf.ctf-carousel #ctf-more{
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 0 0 0;
}
#ctf #ctf-more.ctf-loading span{
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
#ctf #ctf-more.ctf-loading span{
    filter: alpha(opacity=0);
    opacity: 0;
}
#ctf .ctf-loader {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    background-color: rgba(0,0,0,0.5);

    border-radius: 100%;
    -webkit-animation: ctf-sk-scaleout 1.0s infinite ease-in-out;
    animation: ctf-sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes ctf-sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes ctf-sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}

/* Credit link */
.ctf-credit-link{
    width: 100%;
    clear: both;
    padding: 5px 0;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}
.ctf-credit-link .fa,
.ctf-credit-link svg{
    margin-right: 4px;
}

/* Default styles */
#ctf.ctf-styles .ctf-author-screenname,
#ctf.ctf-styles .ctf-screename-sep,
#ctf.ctf-styles .ctf-context,
#ctf.ctf-styles .ctf-tweet-meta,
#ctf.ctf-styles .ctf-twitter-card,
#ctf.ctf-styles .ctf-quoted-tweet{
    font-size: 12px;
}

/* Errors */
#ctf .ctf-error{
    width: 100%;
    text-align: center;
}
#ctf .ctf-error p,
#ctf .ctf-error iframe,
#ctf .ctf-error code{
    padding: 0;
    margin: 0 2px;
}
#ctf .ctf-error-user p{
    padding-bottom: 5px;
}
#ctf .ctf-error-user{
    width: 100%;
}
#ctf .ctf-error-admin{
    margin-top: 15px;
    display: inline-block;
}
#ctf .ctf-error code{
    display: block;
    padding: 4px;
}
.ctf_smash_error{
    border: 1px solid #ddd;
    background: #eee;
    color: #333;
    margin: 10px 0 0;
    padding: 10px 15px;
    font-size: 13px;
    text-align: center;
    clear: both;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.ctf_smash_error p{
    padding: 5px 0 !important;
    margin: 0 !important;
    line-height: 1.3 !important;
}
.ctf_smash_error span{
    font-size: 12px;
}


/* Out of tweets */
#ctf .ctf-out-of-tweets{
    width: 100%;
}
#ctf .ctf-out-of-tweets{
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    background: none;
    background: none;
    width: 100%;
    min-height: 30px;
    padding: 5px 0;
    margin: 0;
    position: relative;
    text-align: center;
    box-sizing: border-box;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#ctf .ctf-out-of-tweets p,
#ctf .ctf-out-of-tweets iframe{
    margin: 0 2px;
    padding: 0;
}
#ctf .ctf-out-of-tweets p{
    padding: 3px;
    display: none;
}

/* Mobile / Narrow */
#ctf.ctf-narrow .ctf-author-avatar,
#ctf.ctf-narrow .ctf-author-avatar img{
    width: 38px;
    height: 38px;
}
#ctf.ctf-narrow .ctf-tweet-content,
#ctf.ctf-narrow .ctf-tweet-actions{
    margin-left: 48px;
}
#ctf .ctf-with-logo .ctf-author-box{
    padding-right: 20px;
}

#ctf.ctf-narrow .ctf-context {
    padding-left: 26px;
}
#ctf.ctf-narrow .ctf-author-box{
    padding-left: 48px;
    word-break: break-word;
}
#ctf.ctf-narrow .ctf-hide-avatar .ctf-author-box {
    padding-left: 0;
}
#ctf.ctf-narrow .ctf-author-avatar {
    margin-left: -46px;
}
#ctf.ctf-narrow .ctf-tweet-content{
    padding: 3px 0 5px 0;
}
#ctf.ctf-narrow .ctf-tweet-actions {
    float: left;
    clear: both;
}
/*#ctf.ctf-narrow .ctf-tc-image{
    width: 30%;
}
#ctf.ctf-narrow .ctf-tc-summary-info{
    width: 63%;
    padding-left: 5%;
}*/
#ctf.ctf-narrow .ctf-tc-image{
    width: 100%;
}
#ctf.ctf-narrow .ctf-tc-summary-info{
    width: 90%;
    padding: 10px 5%;
}

/* Super narrow */
#ctf.ctf-super-narrow .ctf-context,
#ctf.ctf-super-narrow .ctf-tweet-content,
#ctf.ctf-super-narrow .ctf-tweet-actions,
#ctf.ctf-super-narrow .ctf-quoted-tweet {
    margin-left: 0;
}
#ctf.ctf-super-narrow .ctf-context,
#ctf.ctf-super-narrow .ctf-hide-avatar .ctf-author-box{
    padding-left: 0;
}
#ctf.ctf-super-narrow .ctf-author-box{
    min-height: 32px;
    margin-bottom: 2px;
}
#ctf.ctf-super-narrow .ctf-author-avatar,
#ctf.ctf-super-narrow .ctf-author-avatar img{
    width: 30px;
    height: 30px;
}
#ctf.ctf-super-narrow .ctf-author-box{
    padding-left: 35px;
    float: left;
    clear: both;
    font-size: 14px;
}
#ctf.ctf-super-narrow .ctf-author-avatar {
    margin-left: -36px;
    margin-top: 0;
}
#ctf.ctf-super-narrow .ctf-author-screenname,
#ctf.ctf-super-narrow .ctf-screename-sep {
    display: none;
}
#ctf.ctf-super-narrow .ctf-context {
    padding-bottom: 5px;
}
#ctf.ctf-super-narrow .ctf-author-name{
    display: inline-block;
}
#ctf.ctf-super-narrow .ctf-tweet-content{
    float: left;
    clear: both;
    width: 100%;
}
#ctf.ctf-super-narrow .ctf-credit-link{
    font-size: 10px;
}
/* Super-narrow header styling */
/* Don't apply this styling when masonry has super-narrow class as it's based on the width of the items not the feed */
#ctf.ctf-super-narrow:not(.ctf-masonry):not(.ctf-carousel) .ctf-header-bio{
    margin: 0 !important;
    padding-top: 5px;
}
#ctf.ctf-super-narrow:not(.ctf-masonry):not(.ctf-carousel) .ctf-header-user{
    min-height: 48px;
}
#ctf.ctf-super-narrow:not(.ctf-masonry):not(.ctf-carousel) .ctf-header-text{
    padding-top: 10px;
}
#ctf.ctf-super-narrow:not(.ctf-masonry):not(.ctf-carousel) .ctf-header-follow{
    margin-top: 5px;
}
#ctf.ctf-super-narrow .ctf-more span{
    display: block;
    margin-top: 3px;
}
#ctf.ctf-super-narrow .ctf-tc-image{
    width: 100%;
}
#ctf.ctf-super-narrow .ctf-tc-summary-info{
    width: 90%;
    padding: 10px 5%;
}

/* screenreader */

.ctf-screenreader{
    text-indent: -9999px !important;
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    text-align: left !important;
}
/* On mobile make the min-width 100% */
@media all and (max-width: 640px){
    #ctf.ctf-width-resp{
        width: 100% !important;
    }
}


/** Pro Only ***/

/*** Accomodation styles **/

#ctf .ctf-tweet-media{
    width: 100%;
    float: left;
    clear: both;
    margin: 4px 0 2px 0;
}
#ctf .ctf-tweet-media a{
    position: relative;
    display: block;
    float: left;
    max-width: 100%;
    margin: 3px 0;
    text-decoration: none;

    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#ctf .ctf-tweet-media img,
#ctf .ctf-tweet-media video{
    float: left;
    clear: none;
    padding: 0 !important;
    /* removed this style to allow centering image inside lightbox link */
    /* margin: 0 !important; */
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#ctf .ctf-quoted-media-wrap video {
    max-width: 100%;
}
#ctf .ctf-tweet-media a:after{
    border: 1px solid rgba(0, 0, 0, .1);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/** end **/


/* Masonry */
#ctf.ctf-masonry,
#ctf.ctf-masonry .ctf-tweet-items{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#ctf.ctf-masonry .ctf-header{
    margin-bottom: 20px;
}
#ctf.ctf-masonry .ctf-item{
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 31.33%;
    margin: 0 5px 10px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#ctf.ctf-masonry.masonry-2-desktop .ctf-item{
    width: 46%;
}
#ctf.ctf-masonry.masonry-4-desktop .ctf-item{
    width: 21%;
}
#ctf.ctf-masonry.masonry-5-desktop .ctf-item{
    width: 16%;
}
#ctf.ctf-masonry.masonry-6-desktop .ctf-item{
    width: 12.66%;
}
@media (max-width: 780px){
    #ctf.ctf-masonry.masonry-2-desktop .ctf-item,
    #ctf.ctf-masonry .ctf-item,
    #ctf.ctf-masonry.masonry-4-desktop .ctf-item,
    #ctf.ctf-masonry.masonry-5-desktop .ctf-item,
    #ctf.ctf-masonry.masonry-6-desktop .ctf-item{
        width: 100%;
    }
    #ctf.ctf-masonry.masonry-2-mobile .ctf-item{
        width: 46%;
    }
}


/* VIDEO */
/* Video play button */
.ctf-video:before,
.ctf-iframe:before{
    content:"";
    display: block;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    /*margin-top: -19px;
    margin-left: -16px;
    padding: 0;
    font-size: 39px;
    font-style: normal !important;
    color: #fff;
    text-shadow: 0 0 8px rgba(0,0,0,0.8);*/

    margin-top: -33px;
    margin-left: -33px;
    padding: 0;
    font-size: 27px;
    font-style: normal !important;
    color: #fff;

    color: rgba(255,255,255,0.9);
    background: rgb(27,127,204);
    background: rgba(27,127,204,.8);
    border-radius: 40px;
    height: 41px;
    width: 47px;
    text-align: center;
    border: 6px solid #eee;
    border: 6px solid rgba(255,255,255,0.9);
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    padding-top: 13px;
    padding-left: 7px;
    line-height: 1;

    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}
.ctf-fontfile .ctf-video:before,
.ctf-fontfile .ctf-iframe:before{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    font-size: 27px;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

    content:"\f04b";
}
.ctf_playbtn,
.ctf_playbtn {
    display: none !important;
}
#ctf .ctf-video .ctf_playbtn,
#ctf .ctf-iframe .ctf_playbtn {
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

    display: block !important;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;

    margin-top: -14px;
    margin-left: -9px;
    padding: 0;
    font-size: 27px;
}
#ctf .ctf-video.ctf-video-type-animated_gif .ctf_playbtn,
#ctf .ctf-video.ctf-video-type-animated_gif:before {
    display: none !important;
}
.ctf-video .fa-arrows-alt,
.ctf-iframe .fa-arrows-alt{
    display: none !important;
}
.ctf-fontfile .ctf-video:hover:before,
.ctf-fontfile .ctf-iframe:hover:before{
    border: #fff;
    border: 6px solid rgba(255,255,255,1);
    color: #fff;
    color: rgba(255,255,255,1);
    background: rgb(27,127,204);
    background: rgba(27,127,204,1);
}
.ctf-disable-lightbox .ctf-video:before,
.ctf-disable-lightbox .ctf-iframe:before{
    display: none;
}

/* lightbox video */
#ctf_lightbox .ctf_video{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#ctf_lightbox.ctf_video_lightbox .ctf_video{
    display: block;
}
#ctf_lightbox.ctf_video_lightbox .ctf_lb-image{
    display: none !important;
    /* Show photo in IE7 as doesn't support video */
    *display: block !important;
}

/* Embedded videos */
#ctf .ctf-iframe-wrap{
    float: left;
    clear: both;
    margin: 5px 0;
    width: 100%;
    position: relative;
    padding-bottom: 62%;
}
#ctf .ctf-tweet-content.ctf-disable-lightbox .ctf-iframe-wrap {
    padding: 0;
}
#ctf .ctf-tweet-content.ctf-disable-lightbox .ctf-iframe-wrap iframe {
    position: relative;
}
#ctf .ctf-tweet-content.ctf-disable-lightbox .ctf-iframe-wrap a {
    width: 100%;
}
#ctf .ctf-iframe-wrap.ctf-if-type-audio {
    padding-bottom: 150px;
}
#ctf .ctf-iframe-wrap.ctf-if-type-audio.ctf-spotify {
    padding-bottom: 85px;
}
#ctf .ctf-iframe-wrap.ctf-if-type-audio svg,
#ctf .ctf-iframe-wrap.ctf-if-type-audio .ctf-iframe:before{
    display: none !important;
}
#ctf .ctf-iframe-wrap.ctf-no-consent{
    display: none;
}
#ctf iframe{
    border: 0;
}
#ctf .ctf-iframe-wrap iframe{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Iframe in lightbox */
#ctf_lightbox iframe{
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: 0;
}
#ctf_lightbox.ctf-has-iframe iframe{
    display: block;
}
#ctf_lightbox.ctf-has-iframe .ctf_lb-image{
    min-width: 500px;
    display: none !important;
}

/* Adjust position of Amplify iframe so it's centered */
#ctf_lightbox.ctf-amplify iframe{
    margin-top: -76px;
    height: 1000px; /* Set high height as visible height is set by height of the poster image */
}


/* --- Lightbox --- */

/* Hover tile */
#ctf .ctf-tweet-media .ctf-lightbox-link{
    position: relative;
    display: block;
    float: left;
    max-width: 100%;
    margin: 3px 0;
    overflow: hidden;
    text-decoration: none !important;
    outline: none;
    border: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
/* iframe container needs to be absolute so is responsive */
#ctf .ctf-tweet-media .ctf-iframe{
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 1.1;
    border: none;
}
#ctf .ctf-photo-hover{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: #fff;
    background: #333;
    background: rgba(0,0,0,0.4);
}
#ctf .ctf-photo-hover .fa,
#ctf .ctf-photo-hover svg{
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    margin-top: -19px;
    margin-left: -16px;
    padding: 0;
    font-size: 39px;
    font-style: normal !important;
}
#ctf .ctf-quoted-video {
    display: inline-block;
    border: 1px solid #ddd;
    border: 1px solid rgba(0,0,0,.1);
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
#ctf .ctf-quoted-video .ctf-tc-summary-info {
    padding: 8px 2%;
    display: block;
    clear: both;
    padding: 8px 12px;
    font-size: 12px;
}
#ctf .ctf-quoted-video .ctf-tc-summary-info p {
    padding: 0 0 3px 0;
    margin: 0;
    line-height: 1.4;
    text-align: left;
}
#ctf .ctf-quoted-video a {
    position: relative;
    float: left;
    line-height: 1;
}

/* SVGs */
#ctf svg { box-sizing: unset; }
#ctf svg:not(:root).svg-inline--fa,
#ctf_lightbox svg:not(:root).svg-inline--fa{
    box-sizing: unset;
    overflow: visible;
    width: 1em;
}
#ctf .svg-inline--fa.fa-w-16,
#ctf .svg-inline--fa.fa-w-16{
    width: 16px;
}
#ctf .ctf-tweet-actions a svg,
#ctf .ctf-tweet-actions a i{
    width: 1.1em;
    height: 1.1em;
    font-size: 1.1em;
}
#ctf .svg-inline--fa.fa-w-20 {
    width: 20px;
}
#ctf .ctf-context .ctf-retweet-icon svg{
    width: 1.2em;
    height: 1.2em;
}
#ctf .svg-inline--fa,
#ctf_lightbox .svg-inline--fa{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

#ctf #ctf .ctf-photo-hover span.fa-arrows-alt,
#ctf .ctf-photo-hover svg.fa-arrows-alt {
    display: none;
}

/* Preload images */
body:after {
    content: url(../img/ctf-sprite.png);
    display: none;
}
.ctf_lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.9;
    display: none;
}
.ctf_lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
.ctf_lightbox .ctf_lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.ctf_lightbox a:hover,
.ctf_lightbox a:focus,
.ctf_lightbox a:active{
    outline: none;
}
.ctf_lightbox a img {
    border: none;
}
.ctf_lb-outerContainer {
    position: relative;
    background-color: #000;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto 5px auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.ctf_lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}
.ctf_lb-container {
    position: relative;
    padding: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.ctf_lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.ctf_lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-color: #666;
    background-color: rgba(255,255,255,0.5);

    border-radius: 100%;
    -webkit-animation: ctf-sk-scaleout 1.0s infinite ease-in-out;
    animation: ctf-sk-scaleout 1.0s infinite ease-in-out;
}


.ctf_lb-nav {
    /*position: absolute;*/
    top: 0;
    left: 0;
    /*height: 100%;*/
    width: 100%;
    z-index: 10;
    /*pointer-events: none;*/
}
.ctf_lb-container > .nav {
    left: 0;
}
.ctf_lb-nav a {
    position: absolute;
    z-index: 100;
    top: 0;
    height: 90%;
    outline: none;
}

.ctf_lb-prev, .ctf_lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}
.ctf_lb-nav a.ctf_lb-prev {
    width: 50px; height: 100%;
    left: 0;
    float: left;
    background: url(../img/ctf-sprite.png) -127px 50% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.ctf-audio-iframe .ctf_lb-nav a.ctf_lb-prev{
    max-width: 100px;
    height: 80%;
    margin-top: 10%;
    background: url(../img/prev.png) left 0 top 35% no-repeat;
}
.ctf_lb-nav a.ctf_lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.ctf_lb-nav a.ctf_lb-next {
    width: 50px;
    height: 100%;
    right: 0;
    float: right;
    background: url(../img/ctf-sprite.png)  -40px 50% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.ctf_lb-prev, .ctf_lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}
.ctf_lb-nav a.ctf_lb-prev {
    /*width: 30%;*/
    width: 50px;
    left: -70px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5);
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;

}

.ctf_lb-nav a.ctf_lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.ctf_lb-nav a.ctf_lb-next {
    /*width: 30%;*/
    width: 50px;
    right: -70px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5);
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;

}

.ctf_lb-nav a.ctf_lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.ctf_lb-nav span{
    display: block;
    top: 55%;
    position: absolute;
    left: 20px;
    width: 34px;
    height: 45px;
    margin: -25px 0 0 0;
    background: url(../img/ctf-sprite.png) no-repeat;
}
.ctf_lb-nav a.ctf_lb-prev span{
    background-position: -53px 0;
}
.ctf_lb-nav a.ctf_lb-next span{
    left: auto;
    right: 20px;
    background-position: -18px 0;
}





.ctf_lb-data .ctf_lb-close {
    width: 27px; height: 27px;
    background: url(../img/ctf-sprite.png) -10px -10px no-repeat;
}
.ctf_lb-nav a.ctf_lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.ctf_lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ctf_lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}
.ctf_lb-data {
    padding: 0 4px;
    color: #ccc;
}
.ctf_lb-data .ctf_lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1;
}
.ctf_lb-data .ctf_lb-caption {
    float: left;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 3px;
    color: #ccc;

    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.ctf_lb-data .ctf_lb-caption a,
.ctf_lb-data .ctf_lb-caption .ctf-screename-sep{
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
}
.ctf_lb-data .ctf_lb-caption a:hover{
    color: #fff;
    text-decoration: underline;
}
.ctf_lb-data .ctf_lb-caption .ctf_lightbox_username{
    float: left;
    width: 100%;
    color: #ccc;
    padding-bottom: 0;
    display: block;
    margin: 0 0 5px 0;
}
.ctf_lb-data .ctf_lb-caption .ctf_lightbox_username{
    color: #ccc;
}
.ctf_lb-data .ctf_lb-caption .ctf_lightbox_username:hover p{
    color: #fff;
    text-decoration: underline;
}
.ctf_lightbox .ctf_lightbox_username img {
    float: left;
    border: none;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    background: #666;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.ctf_lightbox_username p{
    float: left;
    margin: 0;
    padding: 0;
    color: #ccc;
    line-height: 32px;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}

.ctf_lb-data .ctf-caption-text{
    width: 100%;
    margin-left: 58px;
    padding-top: 3px;
}
.ctf_lb-data .ctf_lb-caption .ctf-tweet-date,
.ctf_lb-data .ctf_lb-caption .ctf-author-screenname{
    font-weight: normal;
}
.ctf_lb-data .ctf_lb-info{
    width: 100%;
    float: left;
    clear: both;
}
.ctf_lb-data .ctf_lb-number {
    display: block;
    float: left;
    clear: both;
    padding: 5px 0 15px 0;
    font-size: 12px;
    color: #999999;
}
.ctf_lb-data .ctf_lb-close {
    display: block;
    float: right;
    width: 27px;
    height: 27px;

    background: url(../img/ctf-sprite.png) -10px -10px no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.ctf_lb-data .ctf_lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* Lightbox video - must go after lighbox CSS */
/* Leave a gap at the bottom of the nav for video controls */
.ctf_lb-nav {
    height: auto;
}
/* Remove 4px padding from lightbox container so video lines up */
.ctf_lb-container{
    padding: 0;
}

/* Mod link to remove image */
#ctf_mod_link, #ctf_mod_error{
    display: none;
}
#ctf_mod_error{
    border: 1px solid #ddd;
    background: #eee;
    color: #333;
    margin: 0;
    padding: 10px 15px;
    font-size: 13px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#ctf_mod_error p{
    padding: 5px 0 !important;
    margin: 0 !important;
    line-height: 1.3 !important;
}
#ctf_mod_error ol,
#ctf_mod_error ul{
    padding: 5px 0 5px 20px !important;
    margin: 0 !important;
}
#ctf_mod_error li{
    padding: 1px 0 !important;
    margin: 0 !important;
}
#ctf_mod_error span{
    font-size: 12px;
}
/* Lightbox action links */
#ctf_lightbox .ctf_lightbox_action{
    float: left;
    /*clear: both;*/
    position: relative;
    padding: 0 0 0 10px;
    margin: 5px 0 0 10px;
    border-left: 1px solid #666;
    font-size: 12px;
}
#ctf_lightbox .ctf_lightbox_action a{
    display: block;
    float: left;
    color: #999;
    text-decoration: none;
}
#ctf_lightbox .ctf_lightbox_action a:hover,
#ctf_lightbox .ctf_lightbox_action a:focus{
    color: #fff;
}
#ctf_lightbox .ctf_lightbox_action .fa,
#ctf_lightbox .ctf_lightbox_action svg {
    margin-right: 5px;
}
#ctf_lightbox .ctf_lightbox_action.ctf_instagram .fa {
    font-size: 13px;
}
#ctf_lightbox .ctf_tooltip_social a svg {
    font-size: 19px;
    padding: 3px 4px;
    margin: auto;
}
#ctf_lightbox .ctf_gdpr_notice {
    z-index: 1;
    display: block;
    position: absolute;
    top:  50%;
    left:  50%;
    margin-left: -44px;
    margin-top: -44px;
    padding: 20px;
}
#ctf_lightbox .ctf_gdpr_notice svg:not(:root).svg-inline--fa {
    position: relative;
    display: block !important;
    height: 48px;
    width: 48px;
    opacity: .8;
}
#ctf_lightbox .ctf_gdpr_notice:hover svg:not(:root).svg-inline--fa {
    opacity: 1;
}
/* Lightbox tooltip */
#ctf_lightbox .ctf_lightbox_tooltip{
    display: none;
    position: absolute;
    width: 100px;
    bottom: 22px;
    left: 0;
    padding: 5px 10px;
    margin: 0;
    background: rgba(255,255,255,0.9);
    color: #222;
    font-size: 12px;
    line-height: 1.3;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#ctf_lightbox .ctf_lightbox_tooltip .fa-play{
    position: absolute;
    font-size: 8px;
    bottom: -6px;
    left: 36px;
    color: rgba(255,255,255,0.9);
}
#ctf_lightbox .ctf_tooltip_social a .fa{
    font-size: 16px;
    margin: 0;
    padding: 5px;
}
#ctf_lightbox .ctf_tooltip_social a#ctf_facebook_icon .fa,
#ctf_lightbox .ctf_tooltip_social a#ctf_twitter_icon .fa,
#ctf_lightbox .ctf_tooltip_social a#ctf_pinterest_icon .fa{
    padding-top: 4px;
    font-size: 18px;
}

/* Hide photos tooltip */
#ctf_lightbox #ctf_mod_box{
    width: 280px;
    padding: 5px 10px 7px 10px;
}
/* Social icons tooltip */
#ctf_lightbox .ctf_tooltip_social{
    width: 145px;
    padding: 5px 5px 4px 5px;
}
#ctf_lightbox .ctf_tooltip_social a{
    color: #333;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#ctf_lightbox .ctf_lightbox_action #ctf_facebook_icon:hover{ background: #3b5998; }
#ctf_lightbox .ctf_lightbox_action #ctf_twitter_icon:hover{ background: #00aced; }
#ctf_lightbox .ctf_lightbox_action #ctf_google_icon:hover{ background: #dd4b39; }
#ctf_lightbox .ctf_lightbox_action #ctf_linkedin_icon:hover{ background: #007bb6; }
#ctf_lightbox .ctf_lightbox_action #ctf_pinterest_icon:hover{ background: #cb2027; }
#ctf_lightbox .ctf_lightbox_action #ctf_email_icon:hover{ background: #333; }

.ctf_lb-outerContainer, .ctf_lb-dataContainer{
    min-width: 450px;
}
@media all and (max-width: 450px){
    .ctf_lb-outerContainer, .ctf_lb-dataContainer {
        min-width: 0; /* Remove min-width on lightbox on mobile */
    }
}
.ctf_lightbox .ctf_lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    margin: 0 auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

/* Carousel */

.ctf-carousel .ctf-tweet-items {
    position: relative;
}
.ctf-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1; }
.ctf-carousel .ctf-owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
.ctf-carousel .ctf-owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.ctf-carousel .ctf-owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
.ctf-carousel .ctf-owl-wrapper,
.ctf-carousel .ctf-owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
.ctf-carousel .ctf-owl-item {
    position: relative;
    min-height: 1px;
    padding: 0 5px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
.ctf-carousel .ctf-owl-item img {
    display: block;
    width: 100%; }
.ctf-carousel .ctf-owl-nav.disabled,
.ctf-carousel .ctf-owl-dots.disabled {
    display: none; }
.ctf-carousel .ctf-owl-nav .ctf-owl-prev,
.ctf-carousel .ctf-owl-nav .ctf-owl-next,
.ctf-carousel .ctf-owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.ctf-owl-carousel.ctf-owl-loaded {
    display: block; }
.ctf-owl-carousel.ctf-owl-loading {
    opacity: 0;
    display: block; }
.ctf-owl-carousel.ctf-owl-hidden {
    opacity: 0; }
.ctf-owl-carousel.ctf-owl-refresh .ctf-owl-item {
    visibility: hidden; }
.ctf-owl-carousel.ctf-owl-drag .ctf-owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.ctf-owl-carousel.ctf-owl-grab {
    cursor: move;
    cursor: grab; }
.ctf-owl-carousel.ctf-owl-rtl {
    direction: rtl; }
.ctf-owl-carousel.ctf-owl-rtl .ctf-owl-item {
    float: right; }

/* No Js */
.no-js .ctf-carousel {
    display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.ctf-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both; }

.ctf-carousel .ctf-owl-animated-in {
    z-index: 0; }

.ctf-carousel .ctf-owl-animated-out {
    z-index: 1; }

.ctf-carousel .fadeOut {
    animation-name: fadeOut; }

@keyframes fadeOut {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.ctf-owl-height {
    transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.ctf-carousel .ctf-owl-item .ctf-owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }

.ctf-carousel .ctf-owl-item img.ctf-owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.ctf-carousel .ctf-owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }

.ctf-carousel .ctf-owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

.ctf-carousel .ctf-owl-video-playing .ctf-owl-video-tn,
.ctf-carousel .ctf-owl-video-playing .ctf-owl-video-play-icon {
    display: none; }

.ctf-carousel .ctf-owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease; }

.ctf-carousel .ctf-owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }


.ctf-carousel .ctf-owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    min-height: 40px;}
.ctf-carousel .ctf-owl-nav.onhover {
    margin-top: 0;
}
.ctf-carousel .ctf-owl-nav .ctf-owl-prev,
.ctf-carousel .ctf-owl-nav .ctf-owl-next{
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
.ctf-carousel .ctf-owl-nav .ctf-owl-prev:hover,
.ctf-carousel .ctf-owl-nav .ctf-owl-next:hover{
    background: #869791;
    color: #FFF;
    text-decoration: none; }
.ctf-carousel .ctf-owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.ctf-carousel .ctf-owl-nav.disabled + .ctf-owl-dots {
    margin-top: 10px; }

.ctf-carousel .ctf-owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    padding: 5px 0;}
.ctf-carousel .ctf-owl-dots .ctf-owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
.ctf-carousel .ctf-owl-dots .ctf-owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px; }
.ctf-carousel .ctf-owl-dots .ctf-owl-dot.active span, .ctf-owl-theme .ctf-owl-dots .ctf-owl-dot:hover span {
    background: #869791; }

.ctf-carousel .ctf-owl-item {
    display: inline-block;
    vertical-align: top;
}
.ctf-carousel .ctf-owl-stage-outer {
    overflow-x: hidden;
    overflow-y: hidden;
}
/* Navigation arrows */

.ctf-carousel .ctf-owl-item > div {
    width: 100% !important;
}
.ctf-carousel .ctf-post-links {
    max-width: 100%;
}
.ctf-carousel .ctf-owl-item{
    box-sizing: border-box;
}
.ctf-carousel .ctf-owl-nav.onhover > div {
    position: absolute;
    top: 0;
    height: 80%;
    width: 40px;
    background: rgba(0,0,0,0);
}
.ctf-carousel .ctf-owl-nav.onhover > div:hover {
    cursor: pointer;
    background: rgba(0,0,0,0);
}
.ctf-carousel .ctf-owl-nav.onhover .ctf-owl-prev {
    left: 0;
}
.ctf-carousel .ctf-owl-nav.onhover .ctf-owl-next {
    right: 0;
}

/* Carousel arrows on hover */
.ctf-carousel .ctf-owl-nav.onhover span,
.ctf-carousel .ctf-owl-nav.onhover svg {
    position: absolute;
    top: 50%;
    background: #aaa;
    background: rgba(0,0,0,0.4);
    padding: 8px 8px 8px 10px;
    border-radius: 50%;
    margin-top: 20px;
    color: #fff;
}
.ctf-carousel .ctf-owl-nav.onhover .ctf-owl-prev span,
.ctf-carousel .ctf-owl-nav.onhover .ctf-owl-prev svg {
    padding: 8px 10px 8px 8px;
    left: 0;
}

/* Carousel load more button */
.ctf-carousel .ctf-carousel-less,.ctf-carousel .ctf-carousel-more {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    background: 0 0;
    color: #333;
    text-align: center;
    padding: 0;
    height: 20px;
    border: none;
    border-radius: 0;
    border-top: 1px solid rgba(0,0,0,.5);
    margin-top: 0;
    background: #000;
    filter: Alpha(Opacity=25);
    opacity: .25;
    color: #fff;
    padding: 4px 0;
    border: none;
    margin-top: 0;
    height: auto;
    max-height: 30px;
}

.ctf-carousel .ctf-carousel-less svg, .ctf-carousel .ctf-carousel-more svg {
    vertical-align: top !important;
}
.ctf-carousel .ctf-carousel-more:hover,
.ctf-carousel .ctf-carousel-more:focus{
    filter: Alpha(Opacity=50);
    opacity: 0.5;
}
.ctf-carousel .ctf-carousel-more .fa-caret-down {
    font-size: 50px;
    line-height: 1;
    padding: 0;
    position: relative;
    top: -19px;
}
/* IE 11 iframe fix */
.ctf-owl-item.active iframe {
    visibility: visible;
}
.ctf-owl-item iframe {
    visibility: hidden;
}
/* Out of Tweets */
#ctf.ctf-carousel .ctf-out-of-tweets{
    margin-top: 10px;
}