
<div class="archiveFeatureBlock">
  <div class="archiveFeatureBlockInner">
    <a href="/the-library-digital-initiative/" class="archiveFeatureBlockContent" style="background-image: url(&quot;/blog/wp-content/uploads/2018/06/fig6-1.jpg&quot;);">
      <div class="archiveFeatureGradient"></div>
      <div class="archiveFeatureBlockTextContent">
        <div class="archiveFeatureBlockUpper">
          <label class="archiveFeatureBlockLead">Recent Updates</label>
          <h3>The Library Digital Initiative</h3>
          <span class="archiveFeatureBlockSubtitle"></span></div>
        <div class="archiveFeatureBlockLower">
          <span class="archiveFeatureBlockIntro">The Milman Parry Collection has seen many recent advances in connection with its current digitalization project, The Singer Continues the Song: Text and Music from the Milman Parry Collection.</span></div>
      </div>
    </a>
  </div>
</div>
