<div class="postCategories">
	<!--
	{% if is_main_site %}
		{% set site = random([0, 1, 2, 3])%}
		{% if site == 0 %}
			<a class="postCategory siteCategory -classicalInquiries" href="//classical-inquiries.chs.harvard.edu">
				{% include 'partial/icon-lyre.twig' %}
				<span>
					Classical Inquiries
				</span>
			</a>
		{% elseif site == 1 %}
			<a class="postCategory siteCategory -kosmos" href="//classical-inquiries.chs.harvard.edu">
				{% include 'partial/icon-triskelion.twig' %}
				<span>
					Kosmos Society
				</span>
			</a>
		{% elseif site == 2 %}
			<a class="postCategory siteCategory -kleos" href="//classical-inquiries.chs.harvard.edu">
				{% include 'partial/icon-amphora.twig' %}
				<span>
					Kleos
				</span>
			</a>
		{% else %}
			<a class="postCategory siteCategory -researchBulletin" href="//classical-inquiries.chs.harvard.edu">
				{% include 'partial/icon-column.twig' %}
				<span>
					Research Bulletin
				</span>
			</a>
		{% endif  %}
	{% endif  %}
	-->
	{% for cat in post.categories %}
    {% if cat.title == "Classical Inquiries" %}
			<a class="postCategory labelCaps" href="https://classical-inquiries.chs.harvard.edu">Classical Inquiries</a>{% if not loop.last %}, {% endif %}
    {% elseif cat.title != "Uncategorized" %}
			<a class="postCategory labelCaps" href="/category/{{cat.slug}}">{{cat.title}}</a>{% if not loop.last %}, {% endif %}
    {% endif %}
	{% endfor %}
  {% for cat in post.terms( {query:{taxonomy:'event_type', orderby:'name', order: 'ASC'}} ) %}
    <a class="category labelCaps -eventType" href="/event_type/{{cat.slug}}">
      {{cat.title}}</a>{% if not loop.last %}, {% endif %}
  {% endfor %}
	{% if post.type == "chapter" %}
    <a class="category labelCaps -eventType" href="/books">Book Chapter</a>
	{% endif %}
</div>
