<div class="listMenu -categoriesMenu">
  <ul>
    <!--li class="active -menuItem-all">
      <span>
        <a href="">
          All
        </a>
      </span>
    </li-->
    <li class="active -menuItem_art-archaeology">
      <span>
        <a href="">
          Art Archaeology
        </a>
      </span>
    </li>
    <li class=" -menuItem_epigraphy-papyrology">
      <span>
        <a href="">
          Epigraphy
          Papyrology
        </a>
      </span>
    </li>
    <li class=" -menuItem_history">
      <span>
        <a href="">
          History
        </a>
      </span>
    </li>
    <li class=" -menuItem_language-literature">
      <span>
        <a href="">
          Language
          Literature
        </a>
      </span>
    </li>
    <li class=" -menuItem_mythology-religion">
      <span>
        <a href="">
          Mythology
          Religion
        </a>
      </span>
    </li>
    <li class=" -menuItem_philosophy">
      <span>
        <a href="">
          Philosophy
          Science
        </a>
      </span>
    </li>
  </ul>
</div>
