<div class="catsTags">
  <div class="categories">
    {% for cat in post.categories %}
      {% if cat.title == "Classical Inquiries" %}
        <a class="category labelCaps" href="https://classical-inquiries.chs.harvard.edu">Classical Inquiries</a>{% if not loop.last %}, {% endif %}
      {% elseif cat.title != "Uncategorized" %}
      <a class="category labelCaps" href="/category/{{cat.slug}}">{{cat.title}}</a>{% if not loop.last %}, {% endif %}
      {% endif %}
    {% endfor %}
    {% for cat in post.terms( {query:{taxonomy:'event_type', orderby:'name', order: 'ASC'}} ) %}
      <a class="category -eventType" href="/event_type/{{cat.slug}}">
        {{cat.title}}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
  <div class="tags">
    {% for tag in post.tags %}
      {% if tag.title != "migrated" %}
        <a class="tag" href="/tag/{{tag.slug}}">{{tag.title}}</a>{% if not loop.last %}, {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
