<!-- This example requires Tailwind CSS v2.0+ -->
{% if homepage.featured_inscriptions %}
  <div class="mt-16 bg-theme-200 pb-12 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class="mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col ">
              <div class="flex-1 flex flex-col">
                <a class="featured-inscription featured-inscription-sm" href="{{Post(homepage.featured_inscriptions[0]).external_link}}">
                  <img class="featured-inscription-image object-cover shadow-xl" src="{{Post(homepage.featured_inscriptions[0]).thumbnail.src}}"/>
                  <span class="featured-inscription-caption block text-gray-600 text-base pt-8">{{Post(homepage.featured_inscriptions[0]).title}}</span>
                </a>
              </div>
            </div>
          </div>
          <div class="mt-10 max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
            <div class="relative z-10 ">
              <div class="pt-10 pb-8 px-6 sm:px-10 sm:py-10">
                <a class="featured-inscription featured-inscription-lg" href="{{Post(homepage.featured_inscriptions[1]).external_link}}">
                  <img class="featured-inscription-image object-cover shadow-xl" src="{{Post(homepage.featured_inscriptions[1]).thumbnail.src}}"/>
                  <span class="featured-inscription-caption block text-gray-600 text-base pt-8">{{Post(homepage.featured_inscriptions[1]).title}}</span>
                </a>
              </div>
            </div>
          </div>
          <div class="mt-10 mx-auto max-w-md lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col ">
              <div class="flex-1 flex flex-col">
                <a class="featured-inscription featured-inscription-sm" href="{{Post(homepage.featured_inscriptions[2]).external_link}}">
                  <img class="featured-inscription-image object-cover shadow-xl" src="{{Post(homepage.featured_inscriptions[2]).thumbnail.src}}"/>
                  <span class="featured-inscription-caption block text-gray-600 text-base pt-8">{{Post(homepage.featured_inscriptions[2]).title}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
