<div class="relative bg-theme-200 pt-16 sm:pt-24 lg:pt-32 pb-16">
  <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div class="text-center">
      <h2 class="text-center font-serif font-thin tracking-tight text-black text-6xl mx-auto">Discover the Archive</h2>
    </div>
    <div class="mt-12 text-center">
      <video class="mx-auto max-w-5xl w-10/12 h-96 bg-theme-700"  src="/blog/wp-content/themes/orpheus/static/videos/IIP_Cut4.mp4" controls></video>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
      Listen to project director and scholar Michael Satlow introduce the project and how to search and explore the inscriptions archive.
      </p>
    </div>
  </div>

  {% include 'partial/discover-archive-inscriptions.twig' %}
</div>
