<div class="md:pt-8 md:pb-32 bg-light">
  <div class="flex flex-wrap w-full md:w-10/12 lg:w-full mx-auto lg:mx-0 max-w-7xl lg:max-w-none relative pt-8 items-center justify-center">
    <div class="w-full lg:w-1/2 mx-auto lg:ml-16 lg:-mr-16 lg:-mt-8 text-left relative block h-auto ">
      <div class="">
        <h2 class="hidden md:block md:visible text-xl text-base font-sans tracking-wide uppercase text-gray-500 pb-4">Featured Story</h2>
        <a href="/story/{{Post(homepage.featured_story[0]).slug}}" class="bg-theme-900 block">
          <img class="w-full h-80 object-cover object-center md:h-auto relative opacity-90 hover:opacity-100 transition ease-in-out duration-100" src="{{Post(homepage.featured_story[0]).thumbnail.src}}" alt="">
        </a>
      </div>
    </div>
    <div class="w-full lg:w-1/2 relative z-10 bg-theme-700 pt-12 pr-32 pb-12 pl-12 lg:mt-64 lg:-ml-16 m-w-2xl">
      <label class="font-serif text-2xl text-thin text-white pb-4">Epigraphy in Context</label>
      <a href="/story/{{Post(homepage.featured_story[0]).slug}}">
        <h3 class="text-6xl font-serif font-thin tracking-tight text-white pt-4 pb-12 hover:underline">
          {{Post(homepage.featured_story[0]).title}}
        </h3>
      </a>
      <p class="mt-4 text-base text-white opacity-90">
        {{Post(homepage.featured_story[0]).preview}}
      </p>
    </div>
  </div>
</div>
