<footer class="bg-theme-200 flex flex-wrap md:flex-nowrap" aria-labelledby="footer-heading">
  <div class=" w-full md:w-1/2">
    <div class="flex justify-start my-2 text-left text-base">
      <p class="text-gray-500 text-base">
        Version 2.0 | August 2021 | <a class="underline hover:no-underline font-thin" href="https://doi.org/10.26300/pz1d-st89">10.26300/pz1d-st89</a> | <a class="underline hover:no-underline font-thin" href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
      </p>
    </div>
    <div class="flex justify-start my-2 text-left text-base">
      <p class="text-gray-500 text-base">
        ©<a class="underline hover:no-underline font-thin" href="/">
          {{site.title}},
        </a>
        {{'now'|date('Y')}}. All rights reserved.
      </p>
    </div>

    <div class="flex justify-start my-2 text-left text-base">
      <p class="text-gray-500 text-base">
        We welcome your
        <a class="underline hover:no-underline font-thin" href="mailto:iip@brown.edu">feedback</a>
        on this web site
      </p>
    </div>

    <div class="flex justify-start my-2 text-left text-base">
      <a class="underline hover:no-underline mr-2 text-gray-500 font-thin" href="https://github.com/Brown-University-Library/iip-texts">Data</a>
      <a class="underline hover:no-underline mr-2 text-gray-500 font-thin" href="https://github.com/Brown-University-Library/iip-production">Code</a>
    </div>

    <div class="flex flex-wrap justify-start mt-2 footerLegal text-base">
      <a class="underline hover:no-underline mr-2 text-gray-500 font-thin" href="/sitemap.xml">Sitemap</a>
      <a class="underline hover:no-underline mr-2 text-gray-500 font-thin" href="/copyright">Copyright and Citation Guide</a>
      <a class="underline hover:no-underline mr-2 text-gray-500 font-thin" href="/guide-to-searching">Guide to Searching</a>
    </div>

  </div>
  <div class=" w-full md:w-1/2 pt-8 md:pt-0">
    <div class="flex justify-start md:justify-end items-center">
      <a href="/">
        <img class="logo w-40 mb-4 ml-4" src="/blog/wp-content/themes/orpheus/static/images/Final-logos.png"/>
      </a>
    </div>
  </div>
</footer>
