<div class="heroFeature">
  {% if post.thumbnail.src %}
    <a href="{{post.link}}">
      <div class="featureImage heroFeatureImage" style="background-image:url('{{post.thumbnail.src}}')"></div>
    </a>
  {% endif %}
  <div class="heroFeatureText">
		{% include 'partial/categories-teaser.twig' %}
    <a href="{{post.link}}">
      <h3>{{post.title}}</h3>
    </a>
    <p>
      {% if post.excerpt %}
        {{post.excerpt|excerpt(30)}}
      {% elseif post.preview %}
        {{post.preview.length(30).read_more(false) | excerpt(20) |replace({ 'Abstract' : ''})}}
      {% else %}
        {{post.content|excerpt(30)|replace({ 'Abstract' : ''})}}
      {% endif %}
    </p>
  </div>
</div>
