<div class="relative pb-12 h-auto lg:h-19/20 lg:min-h-190">
  <div class="absolute h-full lg:h-19/20 lg:min-h-190 w-full inset-0 overflow-hidden bg-theme-700">
    {% if homepage and homepage.thumbnail %}
      <img class="h-full lg:h-19/20 lg:min-h-190 iip-hero-background w-screen object-cover" src="{{homepage.thumbnail.src}}" alt="{{site.title}}">
    {% else %}
      <img class="h-full lg:h-19/20 lg:min-h-190 iip-hero-background w-screen object-cover" src="/blog/wp-content/themes/orpheus/static/images/example_background_1.jpg" alt="{{site.title}}">
    {% endif %}

    <div class="absolute h-full lg:h-19/20 lg:min-h-190 w-screen inset-0 bg-theme-800 mix-blend-multiply"></div>
  </div>
  <div class="relative h-full lg:h-19/20 lg:min-h-190 px-4 pt-52 iip-cover-inner-shadow">
    <hr class="iip-hero-hr h-px bg-theme-500 mx-16 mb-12 max-w-xs"/>
    <h1 class="max-w-prose mx-16 text-left text-5xl font-thin tracking-tight sm:text-6xl lg:text-7xl iip-hero-title">
      <span class="block text-white">{{site.title}}</span>
    </h1>
    <p class="my-16 max-w-prose mx-16 text-left text-xl text-theme-200 opacity-80 sm:max-w-3xl">

      {{site.description}}
    </p>
    <!--div class="mt-20 max-w-md mx-16 flex items-left">
      <a href="#search" class="flex items-center justify-center px-12 py-8 border border-transparent text-sm shadow-2xl text-white tracking-widest uppercase bg-theme-500 hover:bg-theme-700">
        Explore the archive
      </a>
    </div-->
  </div>
  <div class="absolute bottom-0 right-0 max-w-md p-4 text-right">
    <span class="text-xs text-white opacity-50">
    </span>
  </div>
</div>
