<div class="mb-16 lg:mb-4">
  {% if list_title %}
    <div class="flex space-between py-8 px-8 lg:px-16">
      <h3 class="text-5xl text-thin">{{list_title}}</h3>
      {% if more_link %}
        <a class="uppercase text-sm" href="{{more_link}}">
          View All
        </a>
      {% endif %}
    </div>
  {% endif %}
  <div class="flex flex-wrap px-8 lg:px-16 md:flex-nowrap md:overflow-x-scroll">
    {% for post in posts %}
      {% if pubs_list %}
        {% include "partial/tease-book.twig" %}
      {% else %}
        {% include "partial/tease.twig" %}
      {% endif %}
    {% endfor %}
  </div>
</div>
