<li class="hidden md:visible md:block  headerMenuItem headerExternalNavLinkHideOnMobile headerMenuToggleButton {% if is_header_alt_menu %}-headerAltMenuItem{% endif %} {{ item.classes|join(' ') }}">
  <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

  {% if item.children | length %}
    <div class="dropdownHeaderMenu" role="tooltip">
      <div
        class="jss88 jss92 jss89"
        id="menu-list-grow"
        style="opacity: 1; transform: scale(1, 1) translateZ(0px); transform-origin: center top; transition: opacity 253ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 168ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;">
        <ul class="jss115 jss116 headerExternalSecondaryNav" role="menu">
          {% for child in item.children %}
            <li >
              <a role="menuitem" href="{{child.link}}">
                {{child.title}}
              </a>
              {% for grandchild in child.children %}
                <a class="grandchild" role="menuitem" href="{{grandchild.link}}">
                  {{grandchild.title}}
                </a>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</li>
