{% if menu %}
  <ul class="headerExternalNav">
    {% for item in menu.items %}
      {% include 'partial/menu-item.twig' %}
    {% endfor %}

    {% for item in header_alt_menu.items %}
      {% include 'partial/menu-item.twig' with { is_header_alt_menu: true } %}
    {% endfor %}

    {# {% if user %}
      <li>
        <button class="headerExternalButton headerMenuToggleButton" tabindex="-1" role="menuitem">
          <div class="avatarChip" style="background-image:url('{{user.avatar|default('/blog/wp-content/themes/orpheus/static/images/author_default.jpg')}}')"></div>
          {% include 'partial/auth-header-menu.twig' %}
        </button>
      </li>
    {% else %}
      <li>
        <button class="jss7 jss1 headerExternalButton headerMenuToggleButton" tabindex="0" type="button" aria-owns="menu-list-grow" aria-haspopup="true">
          <span class="jss6">
            <svg class="jss10" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
            </svg>
          </span>
          <span class="jss19"></span>
          {% include 'partial/auth-header-menu.twig' %}
        </button>
      </li>
    {% endif %} #}
    <!--li>
      <button class="headerExternalButton headerExternalButtonSearch showMenuButton headerExternalButtonSearchFocusInput" type="button">
        <svg viewbox="0 0 30 30">
          <path
            d="M12.8841,0 C19.9997919,0 25.7682,5.75940898 25.7682,12.864 C25.7682,15.8364395 24.7584733,18.5734126 23.0628032,20.751641 L28.5175168,26.1989723 C29.1464611,26.8269354 29.1464611,27.8450646 28.5175168,28.4730277 C27.8885726,29.1009908 26.8688524,29.1009908 26.2399082,28.4730277 L26.2399082,28.4730277 L20.7840655,23.0268238 C18.6024335,24.7198485 15.8611839,25.728 12.8841,25.728 C5.76840806,25.728 0,19.968591 0,12.864 C0,5.75940898 5.76840806,0 12.8841,0 Z M12.8841,3.216 C7.54733104,3.216 3.221025,7.53555673 3.221025,12.864 C3.221025,18.1924433 7.54733104,22.512 12.8841,22.512 C18.220869,22.512 22.547175,18.1924433 22.547175,12.864 C22.547175,7.53555673 18.220869,3.216 12.8841,3.216 Z"
            id="path-1"></path>
        </svg>
      </button>
      <button class="headerExternalButton headerExternalButtonSearch hideMenuButton" type="button">
        <svg viewbox="0 0 30 30">
          <path
            d="M12.8841,0 C19.9997919,0 25.7682,5.75940898 25.7682,12.864 C25.7682,15.8364395 24.7584733,18.5734126 23.0628032,20.751641 L28.5175168,26.1989723 C29.1464611,26.8269354 29.1464611,27.8450646 28.5175168,28.4730277 C27.8885726,29.1009908 26.8688524,29.1009908 26.2399082,28.4730277 L26.2399082,28.4730277 L20.7840655,23.0268238 C18.6024335,24.7198485 15.8611839,25.728 12.8841,25.728 C5.76840806,25.728 0,19.968591 0,12.864 C0,5.75940898 5.76840806,0 12.8841,0 Z M12.8841,3.216 C7.54733104,3.216 3.221025,7.53555673 3.221025,12.864 C3.221025,18.1924433 7.54733104,22.512 12.8841,22.512 C18.220869,22.512 22.547175,18.1924433 22.547175,12.864 C22.547175,7.53555673 18.220869,3.216 12.8841,3.216 Z"
            id="path-1"></path>
        </svg>
      </button>
    </li-->
  </ul>
{% endif %}
