<div class="bg-light pt-0 pb-32 ">
  <div class="text-center lg:mx-auto lg:max-w-7xl lg:px-8">
    <h3 class="mx-auto pb-12 text-center text-6xl font-serif text-thin">On the web</h3>
    <div class="mx-auto w-11/12">
      {% filter shortcodes %}
        [custom-twitter-feeds]
      {% endfilter %}
    </div>
  </div>
</div>
