<header class="readingHeader
  {% if header_dark %}
    -dark
  {% endif %}
" data-html2canvas-ignore="true">

  <ul class="headerExternalNav">
    <li>
      {% if user %}
        <a href="#" class="headerExternalButton headerExternalButtonSearch bookmarkButton chsButton -bookButton -saveButton
          {% if book_is_saved %}
            -bookIsSaved
          {% endif %}
        ">
      {% else %}
        <a href="/wp-login.php?redirect_to=/read/{{post.slug}}" class="headerExternalButton headerExternalButtonSearch bookmarkButton chsButton -bookButton">
      {% endif %}
        <i class="mdi mdi-bookmark-outline"></i>
        <i class="mdi mdi-bookmark"></i>
      </a>
    </li>
    <li>
      <button class="headerExternalButton headerExternalButtonSearch bookmarkButton" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewbox="0 0 24 24"><path
          d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z"/></svg>
      </button>
    </li>

    {% if user %}
      <li>
        <button class="headerExternalButton headerMenuToggleButton" tabindex="-1" role="menuitem">
          <div class="avatarChip" style="background-image:url('{{user.avatar|default('/blog/wp-content/themes/orpheus/static/images/author_default.jpg')}}')"></div>
          {% include 'partial/auth-header-menu.twig' %}
        </button>
      </li>
    {% else %}
      <li>
        <button class="jss7 jss1 headerExternalButton headerMenuToggleButton" tabindex="0" type="button" aria-owns="menu-list-grow" aria-haspopup="true">
          <span class="jss6">
            <svg class="jss10" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
            </svg>
          </span>
          <span class="jss19"></span>
          {% include 'partial/auth-header-menu.twig' %}
        </button>
      </li>
    {% endif %}

    <li>
      <button class="headerExternalButton headerExternalButtonSearch" type="button">
        <svg viewbox="0 0 30 30">
          <path
            d="M12.8841,0 C19.9997919,0 25.7682,5.75940898 25.7682,12.864 C25.7682,15.8364395 24.7584733,18.5734126 23.0628032,20.751641 L28.5175168,26.1989723 C29.1464611,26.8269354 29.1464611,27.8450646 28.5175168,28.4730277 C27.8885726,29.1009908 26.8688524,29.1009908 26.2399082,28.4730277 L26.2399082,28.4730277 L20.7840655,23.0268238 C18.6024335,24.7198485 15.8611839,25.728 12.8841,25.728 C5.76840806,25.728 0,19.968591 0,12.864 C0,5.75940898 5.76840806,0 12.8841,0 Z M12.8841,3.216 C7.54733104,3.216 3.221025,7.53555673 3.221025,12.864 C3.221025,18.1924433 7.54733104,22.512 12.8841,22.512 C18.220869,22.512 22.547175,18.1924433 22.547175,12.864 C22.547175,7.53555673 18.220869,3.216 12.8841,3.216 Z"
            id="path-1"></path>
        </svg>
      </button>
    </li>
  </ul>
</header>
