<div id="search" class="relative bg-gradient-to-r  from-theme-900 to-theme-700 pt-16 pb-0 text-center">
  <div class="mx-auto max-w-7xl">
    <h2 class="text-5xl lg:text-8xl font-thin tracking-tight text-theme-100 text-left mx-16 pt-16 pb-8 lg:py-0">
      Search
      <br>Inscriptions
    </h2>
  </div>
  <div class="flex flex-wrap lg:flex-nowrap relative pt-8 items-center justify-center">
    <div class="ml-0 lg:ml-32 w-full md:w-1/2 p-12 bg-primary text-left relative z-10 block h-auto md:-mr-24">
      <p class="font-serif text-2xl text-thin text-white pb-16">
        Use our research tools to discover ancient inscriptions
      </p>
      <div class="mt-6">
        <a href="https://library.brown.edu/iip/mapsearch/" class="inline-flex py-2 text-sm uppercase text-white underline hover:no-underline tracking-wide">
          Learn More &nbsp; >
        </a>
      </div>
    </div>
    <div class="-mb-8 w-full md:w-1/2 h-80 md:h-auto overflow-hidden">
      <a href="https://library.brown.edu/iip/mapsearch/" class="bg-theme-900 block">
        <img class="w-full bg-theme-900 relative opacity-90 hover:opacity-100 transition ease-in-out duration-100" src="/blog/wp-content/themes/orpheus/static/images/Map.jpg" alt="Inscriptions Map Search">
      </a>
    </div>
  </div>
</div>
