<h4 class="overline sidebarTitle">
  Connect
</h4>
<div class="socialLinks">
  <ul>
    {# <li>
      <a href="https://www.instagram.com/centerforhellenicstudies/">
        <i class="mdi mdi-instagram"></i>
      </a>
    </li> #}
    <li>
      <a href="https://twitter.com/mlsatlow">
        <i class="mdi mdi-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/Brown-University-Library">
        <i class="mdi mdi-github"></i>
      </a>
    </li>
  </ul>
</div>
