<!-- div class="sidebarSignup">
  <div class="sidebarSignupBorder designBorder"></div>
  <h4>Stay informed</h4>
  {% if is_newalexandria %}
    <p>
      Get the latest digital classics and cultural heritage delivered to your email inbox
    </p>
    <a
      class="chsButton -accentButton -emailButton"
      href="http://eepurl.com/hrBeDn">
      <i class="mdi mdi-email"></i>
      Join the community
    </a>
  {% else %}
    <p>
      Keep in touch with the IIP project about updates to our inscriptions, database, and more.
    </p>
    <a
      class="chsButton -accentButton -emailButton"
      href="/">
      <i class="mdi mdi-email"></i>
      Sign up
    </a>
  {% endif %}
</div-->
