<article class="tease -teaseFull tease-{{post.post_type}}
{% if condensed %}
	-teaseCondensed
{% endif %}
{% if hide_after_first_five and loop.index > 5 %}
	-teaseHidden
{% endif %}
{% if not post.get_thumbnail or not post.thumbnail or not post.thumbnail.src %}
	-teaseNoImage
{% endif %}
" id="tease-{{post.ID}}">

  {% if not condensed %}
    {% include 'partial/post-meta-teaser.twig' %}
  {% endif %}

  {% if post.get_thumbnail and post.thumbnail and post.thumbnail.src %}
		{% if post.feed_redirect_url %}
	    <a href="{{post.feed_redirect_url}}" class="teaseImageOuter">
		{% else %}
	    <a href="{{post.link}}" class="teaseImageOuter">
		{% endif %}
    {% if post.thumbnail.src('chs-custom-thumbnail') %}
        <div class="teaseImage" style="background-image:url('{{post.thumbnail.src('chs-custom-thumbnail')}}')"></div>
			{% else %}
        <div class="teaseImage" style="background-image:url('{{post.thumbnail.src}}')"></div>
			{% endif %}
    </a>
  {% endif %}

  <div class="postText">
    {% include 'partial/categories-teaser.twig' %}

    <h2 class="h2">
			{% if post.feed_redirect_url %}
		    <a href="{{post.feed_redirect_url}}">
			{% else %}
		    <a href="{{post.link}}">
			{% endif %}
	      {% if post.homepage_title %}
					{{post.homepage_title}}
				{% elseif condensed %}
	        {{post.title| excerpt(24)}}
	      {% else %}
	        {{post.title| excerpt(36)}}
	      {% endif %}
      </a>
    </h2>

    {% if condensed and with_post_meta %}
      {% include 'partial/post-meta-teaser.twig' %}
    {% endif %}

    <p>
      {% if request.get.s %}
        {{post.content | search_body_text(request.get.s)}}
      {% elseif post.excerpt %}
        {{post.excerpt|excerpt(80)}}
      {% elseif post.preview %}
        {{post.preview.read_more("")|excerpt(70)}}
      {% else %}
        {{post.content|excerpt(70)}}
      {% endif %}

			{% if post.feed_redirect_url %}
		    <a href="{{post.feed_redirect_url}}">
			{% else %}
		    <a href="{{post.link}}">
			{% endif %}
        Read more
      </a>
    </p>

    {% if with_action_links %}
      {% include 'partial/tease-action-links.twig' %}
    {% endif %}
  </div>

</article>
