<article class="
	tease -teaseSidebar
	{% if not post.thumbnail %}
		-teaseNoImage
	{% endif %}
	" id="tease-{{post.ID}}">
  <a href="{{post.link}}">
    <h4>
      {% if post.homepage_title %}
				{{post.homepage_title}}
			{% elseif condensed %}
        {{post.title| excerpt(9)}}
      {% else %}
        {{post.title| excerpt(12)}}
      {% endif %}
    </h4>
  </a>

  <div class="postMeta">
    {% for cat in post.categories %}
			{% if cat.title != "Uncategorized" %}
	      <a class="postCategory" href="/category/{{cat.slug}}">{{cat.title}}</a>{% if not loop.last %}, {% endif %}
			{% endif %}
    {% endfor %}
	  {% for cat in post.terms( {query:{taxonomy:'event_type', orderby:'name', order: 'ASC'}} ) %}
	    <a class="category -eventType" href="/event_type/{{cat.slug}}">
	      {{cat.title}}</a>{% if not loop.last %}, {% endif %}
	  {% endfor %}
    {% if post.byline %}
      {% include 'partial/byline-teaser.twig' %}
      <span class="postMetaDivider">|</span>
    {% endif %}
    <span class="postDate">
      {{post.date('j F Y') }}
    </span>
  </div>

</article>
