<article class="my-4 mx-0 md:mr-8 h-auto w-11/12 md:w-96 md:min-w-96">

  {% if not condensed %}
    <a href="{% if post.external_link %}{{post.external_link}}{% else %}{{post.link}}{% endif %}">
      {% if post.thumbnail %}
        {% if post.thumbnail.src('chs-custom-thumbnail') %}
          <img src="{{post.thumbnail.src('chs-custom-thumbnail')}}" class="h-48 w-full object-cover object-center mb-4"/>
        {% else %}
          <img src="{{post.thumbnail.src('chs-custom-thumbnail')}}" class="h-48 w-full object-cover object-center mb-4"/>
        {% endif %}
      {% elseif default_images %}
        <img src="{{'/blog/wp-content/themes/orpheus/static/images/example_background_{{random(1, 29)}}.jpg)'}}" class="h-48 w-full object-cover object-center mb-4"/>
      {% endif %}
    </a>
  {% endif %}

  {% if with_categories %}
    {% include 'partial/categories-teaser.twig' %}
  {% endif %}

  <h2 class="my-2 font-thin text-2xl">
    <a href="{% if post.external_link %}{{post.external_link}}{% else %}{{post.link}}{% endif %}">
      {% if post.homepage_title %}
        {{post.homepage_title}}
      {% elseif condensed %}
        {{post.title| excerpt(9)}}
      {% else %}
        {{post.title| excerpt(12)}}
      {% endif %}
    </a>
  </h2>

  {% if with_meta %}
    {% include 'partial/post-meta-teaser.twig' %}
  {% endif %}

  <p class="text-base text-gray-500">
    {% if post.excerpt %}
      {{post.excerpt|excerpt(80)}}
    {% elseif post.preview %}
      {{post.preview.length(20).read_more(false) | excerpt(20) |replace({ 'Abstract' : ''})}}
    {% else %}
      {{post.content|excerpt(20)|replace({ 'Abstract' : ''})}}
    {% endif %}
  </p>

</article>
