:root {
  --primary-color: #3291d0;
  --secondary-color: #2773a5;
}

.home header.headroom--top .headerExternalSiteArchiveTitle {
  display: none;
}

.-alex .coverBackgroundGradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, .5) 5%, rgba(0, 0, 0, .5) 30%);
}

.coverBackgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.coverBackgroundVideo video {
  position: absolute;
  top: 0;
  left: -50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  margin-left: 50%;
}

.projectCover.homeCover .coverBackgroundGradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .7) 50%, rgba(0, 0, 0, .9) 100%);
}

.-archimedes .coverBackgroundGradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .9) 100%);
}

.coverBackgroundScreen {
  background-image:url('/wp-content/themes/orpheus/static/images/backgroundScreen.png');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 130px;
  opacity: 0.5;
}

.-horizontalList.-horizontalScroll .tease.tease-project {
  max-width: 30em;
}

.beliefs {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.belief {
  width: 40%;
  margin: 1rem 10% 1rem 0;

}

.belief h3 {
  font-family: "Staff Light", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.belief h3 i {
  font-size: 3rem;
  margin-right: 1.5rem;
  display: inline-block;
}


.tease.tease-project .teaseImage {
  filter: brightness(1);
}

.boardMembers {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.boardMember {
  width: 16rem;
  margin: 1rem 2rem 1rem 0;
}

.boardMember img {
  object-fit: cover;
  height: 18rem;
  width: 100%;
}

@media (max-width: 990px) {
  .belief {
    width: 100%;
    margin: 1rem 0;
  }
}

.-alex .home header .headerLogo img.logoLight {
  display: block;
}
.-alex .home header .headerLogo img.logoColor {
  display: none;
}

.-alex header.-dark .headerLogo img.logoLight {
  display: block;
}
.-alex header.-dark .headerLogo img.logoColor {
  display: none;
}

.-alex header.-dark.headroom--not-top .headerLogo img.logoColor {
  display: block;
}
.-alex header.-dark.headroom--not-top .headerLogo img.logoLight {
  display: none;
}
