/**
 * Styles for the CHS Publications
 */


.publicationsLayout {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 6em 0 3em;
  width: 100%;
}

.publicationsLayout main {
  padding-bottom: 6em;
}

.publicationsContent {
  width: calc(100vw - 230px);
}

.publicationsContent .postsHeader {
  max-width: none;
}

.publicationsContent .categories,
.publicationsContent .tags {
  margin: 0.5rem 0;
}

.publicationsSidebar {
  padding-top: 0;
  padding-bottom: 6rem;
  width: 230px;
}

.publicationsSidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.mainSidebar.publicationsSidebar.is-affixed .publicationsSidebarContent {
  padding-top: 2rem;
}

.publicationsSidebar hr {
  padding: 0;
  margin: 0;
  height: 3px;
  width: 66%;
  background: #eee;
  margin: 1em 0;
}

.publicationsSidebar a {
  font-size: 14px;
  text-decoration: none;
  padding: 1em 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #666;
  transition: all 100ms ease-in-out;
}

.publicationsSidebar a:hover {
  color: var(--primary-color);
}

.publicationsSidebar i {
  margin-right: 1em;
}

.publicationsSidebar i::before {
  font-size: 24px;
}

.sidebarPlaceholder {
  width: 230px;
  padding: 1em 0;
  min-height: 320px;
}

#sidebar-sticky-wrapper #sidebar.publicationsSidebar {
  left: 0;
  min-width: 230px;
}

.featuredPublication {
  background: #f6f6f6;
  display: flex;
  padding: 3em 3em 4em 3em;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.featuredFlag {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;

}

.featuredPublicationBorder.designBorder {
  bottom: 0;
  top: auto;
}

.featuredFlag label {
  color: #999;
}

.featuredPublication a  {
  text-decoration: none;
}

.featuredPublication a:hover .h2 {
  color: var(--primary-color);
}

.featuredPublication .h2 {
  font-size: 32px;
}


.featuredPublication .description, .featuredPublication .byline {
  font-size: 14px;
  max-width: 720px;
  padding: 1em 0;
  display: block;
}

.featuredPublication .byline {
  padding: 0.2em 0;
  font-size: 18px;
}

.featuredPublicationImage {
  object-fit: contain;
  width: 33%;
  min-width: 330px;
  padding: 0 0 0 3em;

}
.featuredPublicationImage img {
  transition: 100ms all ease-in-out;
}

.featuredPublication a:hover img {
  transform: scale(1.01);
}

.moreFromSection {
  padding-top: 2em;

}

.moreFromSection span {
  color: #666;
}

.teaseBookActionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /**
   * temporarily hide for non-main site themes
   */
  display:none;
}

.teaseBookActionButtonsLeft, .teaseBookActionButtonsRight {
  display: flex;
  align-items: center;
}

.teaseBookActionButtonsLeft {
  align-items: flex-start;
}
.teaseBookActionButtonsRight {
  align-items: flex-end;
}

.teaseBookActionButtons .chsButton {
  padding: 1em 2em;
  margin: 0;
  display: inline-block;
}

.teaseBookActionButtons .chsButton.-actionButton {
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.teaseBookActionButtons .chsButton.-actionButton:hover {
  color: var(--primary-color);
}

.chsButton.-bookButton i {
  margin-right: 1em;
}

.chsButton.-bookButton i.mdi-bookmark {
  display: none;
}

.chsButton.-bookButton:hover i.mdi-bookmark-outline {
  display: none;
}

.chsButton.-bookButton i.mdi-bookmark-outline {
  display: inline-block;
}

.chsButton.-bookButton:hover i.mdi-bookmark {
  display: inline-block;
}

.chsButton.-bookButton:hover i {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.chsButton.-bookButton i::before {
  font-size: 24px;
}

.-teaseBook .teaseBookActionButtons .chsButton {
  padding: 0.5em 1em 0.5em 0;
}

.-teaseBook .teaseBookActionButtons .chsButton.-bookButton i {
  margin-right: 0.5em;
}

.-teaseBook .teaseBookActionButtons .chsButton.-bookButton i::before {
  font-size: 20px;
}

.publicationsLayout .postsHeader {
  width: 100%;
  max-width: none;
}

.publicationsLayout .postsHeaderViewAll {
  margin-right: 2em;
}

.publicationsLayout .-horizontalList.-horizontalScroll .tease:first-child {
  margin-left: -1em;
}

.-horizontalList.-horizontalScroll .tease.-teaseBook {
  min-width: 17em;
  max-width: 310px;
}

.tease.-teaseBook .h2 {
  font-size: 14px;
}

.chsButton.-termButton {
  background: #eee;
  padding:0.5em 1em;
  font-size: 12px;
  margin: 5px;
  color: #666;
}

.moreTopicsLinks {
  margin-left: -5px;
  padding: 0.5em 0 1em;
}

.chsButton.-termButton:hover {
  background: var(--primary-color);
  color: #fff;
}

.book {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem 0;
}

.bookLeftColumn {
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
}

.bookLeftColumn img {
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
}

.bookContent {
  width: 60%;
  max-width: 720px;
  padding-left: 5%;
}

.bookContent h1 {
  font-size: 42px;
  line-height: 1.3em;
}

.bookContent .byline {
  font-size: 20px;
}

.bookContent label {
  font-size: 12px;
  text-transform: uppercase;
  color: #444;
  font-weight: bold;
}

.bookContent .bookDescription p {
  max-width: 720px;
  margin: 24px auto;
  text-align: left;
  font-size: 19px;
  font-family: "Staff Light", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.7em;
}

.bookActionButtons {
  display: flex;
  flex-wrap: wrap;
}

.bookActionButtons a.chsButton {
  display: flex;
  width: 100%;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.bookActionButtons a.-readButton {
  padding: 12px;
}

.bookActionButtons a.-readButton i {
  padding-right: 10px;
}

.bookActionButtons a.-readButton i {
  font-size: 22px;
}

.bookActionButtons a.-bookButton {
  color: #222;
  justify-content: flex-start;
  margin: 0;
  padding: 5px 2rem;
}

.bookActionButtons a.-bookButton i {
  margin-right: 1.5rem;
}

.bookActionButtons a.-bookButton:hover, .bookActionButtons a.-bookButton:hover .saveButtonText {
  color: var(--primary-color);
}

.bookActionButtons a.-bookButton.-bookIsSaved, .-bookIsSaved .saveButtonText {
  color: var(--primary-color);
}

.bookActionButtons a.-bookButton.-bookIsSaved .mdi-bookmark-outline {
  display: none;
}

.bookActionButtons a.-bookButton.-bookIsSaved .mdi-bookmark {
  display: block;
}

.bookHeroActionButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bookHeroActionButtons a.chsButton {
  padding: 15px 20px;
  margin: 5px 10px;
  display: inline-block;
  width: auto;
}

.bookHeroActionButtons a.chsButton:first-child {
  margin-left: 0;
}

.bookHeroActionButtons a.chsButton.-bookButton {
  color: #222;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bookHeroActionButtons a.chsButton.-bookButton:hover {
  color: var(--primary-color);
}

.bookHeroActionButtons a.chsButton.-bookButton.-bookIsSaved {
  color: var(--primary-color);
}


.readingHeader .headerExternalNav a, .readingHeader .headerExternalNav button.-languageSelect {
  padding: 0 0.2rem;
}

.readingHeader .headerExternalSecondaryNav a {
  padding: 0.7em;
}

.readingHeader .dropdownHeaderMenu.-authHeaderMenu {
  left: -6rem;
}

.dropdownHeaderMenu.-readingHeaderMenu {
  display: none;
}

.dropdownHeaderMenu.-readingHeaderMenu.-readingHeaderMenuShown {
  display: block;
}

.authorImage {
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
}

.logged-in.admin-bar #ReadingEnvironment {
  position: fixed;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow:hidden;
}

.epubReader button {
  font-family: "Staff Light", sans-serif !important;
  color: #666 !important;
}

.readingHeader {
  display: flex;
  position: fixed;
  top:0;
  right:0;
  left:0;
  width:100vw;
  justify-content: center;
  z-index: 201;
}

.readingHeader a {
  color: #222;
}

.readingHeader button svg {
  fill: #999;
}

.readingHeader button:hover svg {
  fill: #444;
}

.readingHeader a.bookmarkButton {
  color: #999;
}

.readingHeader a.-bookButton.-bookIsSaved {
  color: var(--primary-color);
}

.readingHeader a.-bookButton.-bookIsSaved .mdi-bookmark-outline {
  display: none;
}

.readingHeader a.-bookButton.-bookIsSaved .mdi-bookmark {
  display: block;
}

.headerExternalNav {
  position: absolute;
  right: 0px;
  top: 0;
}

.readingHeaderTitle {
  text-align: center;
  align-items: center;
  max-width: 36vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 15px;
  color: #999;
}

.tocToggleButton {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  padding: 18px;
}

.collectionDescription {
  padding: 1.5rem 2rem;
  background: #f6f6f6;
  color: #444;
  border-radius: 5px;
}

.post.-withSidebar .articleContent.classicsAtSecondary {
  min-height: 0;
}

.booksNav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.booksNav li a {
  padding: 10px 5px;
  margin: 0 10px;
  color: #666;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

.booksNav li:first-child a {
  margin-left: 0;
}

.booksNav li a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.booksList {
  min-height: 100vh;
}

.booksList .posts.-horizontalList {
  width: 100%;
  justify-content: flex-start;
  padding: 0;
}

.booksList .tease.-teaseBook {
  min-width: 12rem;
}

.booksList .posts.-horizontalList.-wrapList .tease.-teaseBook {
  width: 16%;
}

.booksList .posts.-horizontalList.-wrapList .tease.tease-curated-article {
  padding: 2rem 2rem 2rem 0;
  min-width: 320px;
}

.booksList .tease.-teaseBook .teaseImage,
.booksList .tease.-teaseBook .teaseImageOuter {
  height: 260px;
  width: 170px;
}

.booksSectionHeader {
  margin: 0;
  padding: 2rem 0 0 0;
  font-size: 32px;
}

.termList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem 0;
  margin: 0;
}

.termList li {
  width: 25%;
}

.termList li a {
  padding: 2px 20px 2px 0;
  display: block;
}

.-savedBooksNoResults {
  margin: 3rem 0;
}

.-savedBooksNoResults p {
  color: #666;
}

.-horizontalList.-horizontalScroll .tease.tease-curated-article {
  max-width: 420px;
}

.readingEnvLoading {
  background: #eee;
  width: 100vw;
  height: 100vh;
  transition: all 100ms ease-in-out;
  overflow:hidden;
}

@-webkit-keyframes animationLoading {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.6;
	}
	to {
		opacity: 1;
	}
}

.readingEnvLoadingView {
  position: fixed;
  top: 3rem;
  left: 10%;
  max-width: 40vw;
  width:  80%;
}

.readingEnvLoadingContent {
  padding: 8vh 0;
  max-width: 600px;
  min-width: 220px;
  margin: 0;
}

.readingEnvLoadingHeader, .readingEnvLoadingLine {
  background: #ddd;
  border-radius: 4px;
	animation: animationLoading 1s infinite;
}

.readingEnvLoadingHeader {
  height: 60px;
  width: 100%;
  margin: 40px 0 60px;
}

.readingEnvLoadingLine {
  height: 30px;
  width: 95%;
  margin: 40px 0 40px 5%;
}

.searchLoadingLine {
  background: #ddd;
	animation: animationLoading 1s infinite;
  height: 22px;
  width: 90%;
  margin: 10px 0;
  padding: 0;
}

.readingContent {
  position: absolute;
  top: 90px;
  left: 90px;
  bottom: 90px;
  right: 90px;
}

.searchDropdownBackground {
  position:fixed;
  z-index: 202;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.-searchMenu {
  position: fixed;
  top: 60px;
  right: 10px;
  left: auto;
  bottom: auto;
  padding: 10px;
  max-width: 600px;
  min-width: 220px;
  width: 90%;
}

.-searchMenu input {
  outline: none;
  border: 1px solid #eee;
  border-radius: 2px;
}

.searchResults {
  max-height: 50vh;
  overflow-y: scroll;
}

.readingProgress {
  position: fixed;
  bottom: 0;
  left: 10%;
  right: 10%;
  margin: 0;
  width: 80%;
  text-align: center;
}

.progressBar {
  height: 8px;
  width: 100%;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.filled {
  height: 8px;
  position: absolute;
  background: #999;
  width: 100px;
  top: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.progressLabel {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
  min-width: 180px;
  margin: 1rem auto;
}

.sidebarPosts.-toc {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebarPosts.-toc li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarPosts.-toc a {
  padding: 0.5rem 0;
  display: block;
}

.postType-chapter .contentMain a[id] {
  color: #222;
  text-decoration: none;
}
