p, .Paragraph {
  margin: 20px auto;
  margin-top: 0.4em;
  text-align: left;
  font-size: 18px;
  font-family: "Staff Light", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.5em;
  padding: 0.3em;
}

ol, ul {
  padding: 10px;
  margin: 0;
}

a {
  color: hsl(359, 56%, 30%);
  text-decoration: underline;
}

a:hover {
  color: #531d1e;
  text-decoration: none;
}

li {
  margin: 5px auto;
  text-align: left;
  font-size: 18px;
  font-family: "Staff Light", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.5em;
}

figure {
  margin: 20px auto;
}

button {
  font-family: "Staff Light", sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: "Staff Light", sans-serif;
  margin: 20px auto;
  text-align: left;
}

h1 {
  margin: 60px auto 30px;
  font-size: 42px;
}

h2 {
  margin: 50px auto 25px;
  font-size: 36px;
}

h3 {
  margin: 30px auto 15px;
  font-size: 28px;
}

h4 {
  margin: 20px auto 10px;
  font-size: 22px;
}

hr {
  max-width: 220px;
  width: 90%;
  margin: 20px 0;
}

.bibl {
    text-align: right;
    margin-top: 0.4em;
}

.bibl2 {
  margin-left: 0.5em;
  text-indent: -0.5em;
  margin-top: 0.4em;
}

.inlineCitation {
  margin-left: 1.25em;
  margin-top: 0.4em;
}

@media (max-width: 750px) {
  h1 {
    margin: 2rem auto 1rem;
    font-size: 1.6rem;
  }
  h2 {
    margin: 1.6rem auto 0.8rem;
    font-size: 1.3rem;
  }
  h3 {
    margin: 1.4rem auto 0.6rem;
    font-size: 1rem;
  }
  h4 {
    margin: 1.2rem auto 0.4rem;
    font-size: 1rem;
  }
  h5 {
    margin: 1rem auto 0.4rem;
    font-size: 0.8rem;
  }
}
